@use '../../../mixins.scss' as mixins;

.main {
    @include mixins.big-popup;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header {
            margin: 1rem 0;
            align-self: flex-start;
        }


        .form {
            margin: 1rem 7rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .text-and-input {
                display: flex;
                flex-direction: column;
                width: 100%;

                input,
                textarea {
                    background-color: transparent;
                    resize: none;
                    @include mixins.regular-border;
                }

                textarea {
                    height: 5rem;
                }
            }

            .project {
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;

                .section {
                    margin-bottom: 2rem;
                    width: 100%;
                }

                .project-title {
                    display: flex;
                    width: 100%;
                    gap: 15px;
                    margin-bottom: 15px;

                    .project-name {
                        width: 75%;
                    }

                    .project-creation-date {
                        width: 25%;
                    }
                }
            }

            .customer-details {
                width: 100%;

                .details {
                    display: flex;
                    gap: 15px;

                    .text-and-input {
                        flex: 1;
                        min-width: 0; // lets flex items shrink below content size
                    }
                }
            }

            .retainer-monthly,
            .retainer-hourly {
                .grid {
                    display: grid;
                    gap: 15px;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 100%;
                }
            }
        }

        .confirm {
            display: flex;
            align-items: center;
            justify-content: center;

            .confirm-button {
                @include mixins.confirm-button;
            }
        }
    }
}