<div class="main">
    <div class="content">
        <div class="header">פרטי הפרויקט</div>
        <form class="form" [formGroup]="form">
            <div class="project">
                <div class="text-and-input-wide">
                    <span>כותרת ראשית</span>
                    <input type="text" formControlName="projectName">
                    <div class="error-container">
                        <span *ngIf="submitted && form.get('projectName')?.errors" class="error">אנא הזינו שם
                            פרויקט</span>
                    </div>
                </div>
                <div class="text-and-input-wide">
                    <span>כותרת משנית</span>
                    <input type="text" formControlName="subTitle">
                    <div class="error-container">
                        <span *ngIf="submitted && form.get('subTitle')?.errors" class="error">אנא הזינו כותרת
                            משנית</span>
                    </div>
                </div>
                <div class="text-and-input-wide">
                    <span>תיאור</span>
                    <textarea formControlName="description"></textarea>
                </div>
                <div class="dates">
                    <div class="text-and-input-date">
                        <span>תאריך התחלה</span>
                        <input class="date" type="text" mask="00/00/00" placeholder="_ _/_ _/_ _"
                            formControlName="startDate" [dropSpecialCharacters]="false" />
                    </div>
                    <div class="text-and-input-date">
                        <span>תאריך סיום משוער</span>
                        <input class="date" type="text" mask="00/00/00" placeholder="_ _/_ _/_ _"
                            formControlName="endDate" [dropSpecialCharacters]="false" />
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="text-and-input-wide">
                    <span>שם הלקוח</span>
                    <input type="text" formControlName="clientName">
                </div>
                <div class="text-and-input-wide">
                    <span>אימייל הלקוח</span>
                    <input type="text" formControlName="clientMail">
                </div>
                <div class="update-client">
                    <div class="toggle-switch" [class.on]="project.updateClient"
                        (click)="project.updateClient = !project.updateClient">
                        <div class="switch-thumb"></div>
                    </div>
                    <span>הלקוח/ה {{project.updateClient? '' : ' לא'}} מקבל/ת עדכונים על התקדמות ושינויים</span>
                </div>
            </div>
        </form>
        <div class="confirm">
            <img class="icon-ok" (click)="submit()" />
        </div>
    </div>
</div>