<div class="main">
    <div class="today-tasks" #todayTasks>
        <div class="header new-h2">
            <span>
                משימות היום
            </span>
            <img class="icon-expand pointer" (click)="navigateToCalendar()" />
        </div>
        <div class="tasks" cdkDropList id="todayTasks" [cdkDropListData]="stepsAndTasks" (cdkDropListDropped)="dropStep($event)">
            <div class="task" *ngFor="let task of stepsAndTasks">
                <app-weekly-day-task [task]="task" [isDragging]="isDragging" (openProject)="openProject(task.project)"
                    (createNewTaskEmitter)="updateTaskText($event, task.parentStep)"
                    (completeTask)="completeTask($event)" [shouldHidePlaceHolder]="true"></app-weekly-day-task>
            </div>
        </div>
    </div>

    <div>
        <div class="header new-h2">
            <span>
                פיצ׳רים ושיפורים קרובים
            </span>
            <img src="assets/icons/stars.svg" />
        </div>
        <div class="new-small" style="margin-right: 25px;">
            <ul>
                <li *ngFor="let feature of features">{{feature.text}}</li>
            </ul>
        </div>
    </div>
    <div class="contact" (click)="openWhatsapp()">
        <span class="header new-text-bold">לתמיכה, שאלות והצעות</span>
        <img src="assets/icons/whatsapp.svg" />
    </div>
</div>