.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 25px;

        img {
            height: 1.2rem;
        }
    }

    .today-tasks {
        height: 500px;
        overflow: auto;

        .tasks {
            margin: 0 25px;
        }
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--default-white);
        border-radius: 12px;
        padding: 1rem;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: var(--common-shadow);
        color: var(--default-gray);

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        img {
            margin-right: 3rem;
            height: 32px;
        }

        &:hover {
            color: var(--default-black);
            opacity: 1;
        }
    }
}