<div class="main">
    <div class="today-tasks" #todayTasks>
        <div class="header new-h2">
            <span>
                משימות היום
            </span>
            <img class="icon-expand pointer" (click)="navigateToCalendar()" />
        </div>
        <div class="tasks-container" #tasksContainer>
            <div class="tasks" cdkDropList id="todayTasks" [cdkDropListData]="stepsAndTasks"
                (cdkDropListDropped)="dropStep($event)">
                <div class="task" [class.incomplete]="!isComplete(task)" *ngFor="let task of stepsAndTasks">
                    <app-weekly-day-task [task]="task" [isDragging]="isDragging"
                        (openProject)="openProject(task.project)"
                        (createNewTaskEmitter)="updateTaskText($event, task.parentStep)"
                        (completeTask)="completeTask($event)" [shouldHidePlaceHolder]="true"></app-weekly-day-task>
                </div>
            </div>
            <div class="new-task" (click)="scrollToBottom()">
                <app-new-task (createNewTask)="createNewTask($event)" style="width: 100%; margin: 0 25px;"></app-new-task>
            </div>
        </div>
    </div>

    <div>
        <div class="header new-h2">
            <span>
                פיצ׳רים ושיפורים קרובים
            </span>
            <img src="assets/icons/stars.svg" />
        </div>
        <div class="new-small" style="margin-right: 25px;">
            <ul>
                <li *ngFor="let feature of features">{{feature.text}}</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="line" (click)="openWhatsapp()">
            <img class="icon" src="assets/icons/whatsapp.svg"/>
            <span class="new-text-bold">לתמיכה, שאלות והצעות</span>
        </div>
        <div class="line" (click)="joinFacebook()">
            <img class="icon" src="assets/icons/whatsapp.svg"src="assets/icons/facebook.svg"/>
            <span class="new-text-bold">הצטרפו לקבוצת הפייסבוק שלנו</span>
        </div>
    </div>
</div>