.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 25px;
        margin-bottom: 12px;

        img {
            height: 1.2rem;
        }
    }

    .today-tasks {
        .tasks-container {
            height: 320px;
            overflow: auto;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
            /* Internet Explorer and Edge */

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .tasks {
            margin: 0 25px;
        }

        .new-task {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        padding-right: 25px;

        .line {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            cursor: pointer;

            .icon {
                height: 20px;
            }
        }
    }
}