.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            height: 1.2rem;
        }
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--default-white);
        border-radius: 12px;
        padding: 1rem;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: var(--common-shadow);
        
        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        img {
            margin-right: 3rem;
            height: 52px;
        }
        
        &:hover {
            opacity: 1;
        }
    }
}