<div class="main">
    <div class="insight">
        <div class="header new-h2">
            <span>
                תובנה יומית
            </span>
            <img src="assets/icons/light_bulb.svg" />
        </div>
        <span class="new-small">{{insight.text}}</span>
    </div>
    <div>
        <div class="header new-h2">
            <span>
                פיצ׳רים ושיפורים קרובים
            </span>
            <img src="assets/icons/stars.svg" />
        </div>
        <div class="new-small">
            <ul>
                <li *ngFor="let feature of features">{{feature.text}}</li>
            </ul>
        </div>
    </div>
    <div class="contact" (click)="openWhatsapp()">
        <span class="header new-text-bold">לתמיכה, שאלות והצעות</span>
        <img src="assets/icons/whatsapp.svg" />
    </div>
</div>