<div class="main">
    <div class="header">
        <span class="new-h1">{{getGreeting()}}, {{userName}}</span>
        <span class="new-text">על מה עובדים היום?</span>
        <div class="coffee">
            <img [style.transform]="'rotate(' + coffeeRotation + 'deg)'" (click)="getRandomCoffee()"
                [src]="coffeePicture" />
        </div>
    </div>
    <div class="payments">
        <div class="text-and-icon">
            <span class="new-h2">הכנסות</span>
            <img class="icon icon-info"
                matTooltip="הכנסות בחודשים האחרונים וצפי להכנסות בחודשים הקרובים. הנתונים מבוססים על שלבי התשלום שבתוך הפרויקטים שלך."
                matTooltipPosition="above" matTooltipClass="custom-tooltip" />
        </div>
        <div class="graph">
            <div class="sums new-small">
                <div style="align-items: flex-start;">{{maxGraphValue}}</div>
                <div style="align-items: center;">{{(maxGraphValue/5)*3}}</div>
                <div style="align-items: center;">{{maxGraphValue/5}}</div>
            </div>
            <div class="background">
                <div class="bars">
                    <div class="month" *ngFor="let month of graphMonths; let i = index">
                        <div class="progress" [style.height.%]="getFutureGraphValue(i)">
                            <div class="progress-bar-vertical" [matTooltip]="'הכנסות צפויות: '+futurePayments[i]+' ₪'"
                                matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                [matTooltipDisabled]="isPayedHovered">
                                <div class="progress-fill-vertical" [style.height.%]="getPastGraphValue(i)"
                                    (mouseenter)="isPayedHovered = true" (mouseleave)="isPayedHovered = false"
                                    [matTooltip]="'הכנסות: '+pastPayments[i]+' ₪'" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="months new-small">
                    <span *ngFor="let month of graphMonths">{{month | number: '2.0'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>