@use '../../../mixins.scss' as mixins;

.main {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        display: block;
        margin: 2rem 0;
    }

    .form {
        .text-and-input {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    .statuses {
        padding: 0 30px;
        display: flex;
        flex-direction: column;

        .option {
            cursor: pointer;
            width: 280px;
            height: 50px;
            border-radius: 16px;
            margin-bottom: 1rem;
            display: flex;
            align-items: flex-start;
            background-color: var(--home-color);
            align-items: center;
            justify-content: start;

            img {
                margin: 0 1rem;
                height: 24px;
            }

            &.selected {
                background-color: var(--select-color);
            }

            &:hover,
            &:focus {
                background-color: var(--hover-color);
                border: none;
            }
        }
    }

    .confirm-div {
        margin-top: 1rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        .confirm {
            @include mixins.confirm-button;
        }
    }
}

@media (max-width: 1000px) {
    .progress {
        width: 26%;
        scale: 1.4;
        padding-bottom: 80px;
    }

    form {
        scale: 1.6;
        padding-bottom: 40px;
    }

    .confirm-div {
        scale: 1.4;
    }
}