<div class="main"
    [ngClass]="{'border': !isActive && newStep != undefined, 'white-background': isActive && newStep != undefined}">
    <div class="choose-type" *ngIf="!isEdit && (newStep == undefined || newStep.stepType === undefined)">
        <div class="steps">
            <div class="step-type" (click)="selectType(stepTypeEnum.task)" tabindex="0">
                <div class="new-text-bold">
                    + {{isRetainer ? 'משימה' : 'שלב'}}
                </div>
            </div>
            <div class="step-type" (click)="selectType(stepTypeEnum.payment)" tabindex="0">
                <div class="new-text-bold">
                    + תשלום
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="newStep?.stepType !== undefined" class="details"
        [ngClass]="{'details-padding': newStep && newStep.stepType !== undefined}">
        <div class="task" *ngIf="newStep?.stepType === stepTypeEnum.task">
            <div class="title">
                <div class="new-h2">
                    <span *ngIf="isEdit">{{isRetainer? 'עריכת משימה' : 'עריכת שלב'}}</span>
                    <span *ngIf="!isEdit">{{isRetainer? 'משימה חדשה' : 'שלב חדש'}}</span>
                </div>
            </div>
            <div class="text-and-input">
                <span class="text new-small">{{isRetainer? 'שם המשימה' : 'שם השלב'}}</span>
                <input class="text new-text" type="text" [(ngModel)]="newStep.name" #stepNameInput tabindex="2">
                <div class="error-container new-small">
                    <span *ngIf="submitted && !newStep.name" class="error">אנא הזינו שם</span>
                </div>
            </div>
            <div class="add-description" *ngIf="!isShowDescription && !isShowTasks">
                <div class="buttons">
                    <button class="button" (click)="showDescription()" tabindex="3">
                        + פירוט
                    </button>
                    <button class="button" (click)="showTasks()" tabindex="4">
                        + רשימת משימות
                    </button>
                </div>
            </div>
            <div class="text-and-input" *ngIf="isShowDescription">
                <span class="text new-small">פירוט</span>
                <textarea class="text new-text" maxlength="100" [(ngModel)]="newStep.description" tabindex="5"
                    #descriptionInput></textarea>
            </div>
            <div class="text-and-input" *ngIf="isShowTasks">
                <span class="text new-small">משימות</span>
                <div class="task-list">
                    <div class="task" *ngFor="let task of newStep.tasks; let i = index">
                        <div [class]="'radio-button ' + (task.isComplete? 'checked-circle' : 'empty-circle')"
                            (click)="task.isComplete = !task.isComplete"><img *ngIf="task.isComplete"
                                src="assets\icons\confirm_white.svg" /></div>
                        <textarea [(ngModel)]="task.text" placeholder="משימה חדשה..." autoResize defaultHeight="20px"
                            class="new-small" (input)="taskTextUpdates(task)" (keydown)="handleEnter($event, i)"
                            #taskText></textarea>
                    </div>
                </div>
            </div>
            <div class="cycle" *ngIf="isRetainer">
                <button class="button" (click)="initStepIsRecurring()" *ngIf="!newStep.isRecurring" tabindex="6">
                    <img class="cycle" />
                    משימה חוזרת
                </button>
                <div class="reccuring-data" *ngIf="newStep.isRecurring">
                    <div class="text new-small">
                        <span>חזרה כל</span>
                        <span style="cursor: pointer;" (click)="closeRecurringEvery()">X</span>
                    </div>
                    <div class="repeatance new-text">
                        <input type="number" [(ngModel)]="newStep.recurringEvery"
                            (input)="onInputRecurringEvery($event)" tabindex="7">
                        <div class="date-types">
                            <div [class]="'date-type' + (newStep.recurringDateType === recurringDateTypeEnum.day? ' selected' : '')"
                                [style.border-radius]="'0 20px 20px 0'"
                                (click)="selectRecurringDateType(recurringDateTypeEnum.day)">יום</div>
                            <div [class]="'date-type' + (newStep.recurringDateType === recurringDateTypeEnum.week? ' selected' : '')"
                                (click)="selectRecurringDateType(recurringDateTypeEnum.week)">שבוע</div>
                            <div [class]="'date-type' + (newStep.recurringDateType === recurringDateTypeEnum.month? ' selected' : '')"
                                [style.border-radius]="'20px 0 0 20px'"
                                (click)="selectRecurringDateType(recurringDateTypeEnum.month)">חודש</div>
                        </div>
                    </div>
                    <div class="days-in-week" *ngIf="newStep.recurringDateType === recurringDateTypeEnum.week">
                        <span class="new-small title">בימים</span>
                        <div class="days">
                            <div class="day new-small" *ngFor="let day of daysInWeek; let i = index"
                                [ngClass]="{'selected': isdayInWeekDay(day)}"
                                (click)="selectDayInWeek(day)" tabindex="8">
                                {{day}}
                            </div>
                        </div>
                    </div>
                    <div class="day-in-month" *ngIf="newStep.recurringDateType === recurringDateTypeEnum.month">
                        <span class="new-small title">בתאריך</span>
                        <select [(ngModel)]="newStep.recurringDayInMonth" tabindex="9">
                            <option *ngFor="let day of daysInMonth" [value]="day">
                                {{ day }} לחודש
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment" *ngIf="newStep?.stepType === stepTypeEnum.payment">
            <div class="title">
                <div class="new-h2">
                    <span *ngIf="isEdit">עריכת שלב </span>תשלום <span></span><span *ngIf="!isEdit">חדש</span>
                </div>
                <img src="assets/icons/dollar.svg" />
            </div>
            <span class="sub-title new-small" *ngIf="!isEdit && isRetainer">{{paymentModel === paymentModelEnum.hourly ?
                'תשלום עבור שעות שנספרו במערכת. יצירת התשלום לא תגדיל את מחיר הפרויקט הכולל. ' : 'תשלום חד פעמי, נוסף על
                התשלום החודשי הקבוע בהגדרות הפרויקט.'}}</span>
            <div class="text-and-input">
                <span class="text new-small">שם התשלום</span>
                <input class="text new-text" type="text" [(ngModel)]="newStep.name" #stepNameInput>
                <div class="error-container">
                    <span *ngIf="submitted && !newStep.name" class="error new-small">אנא הזינו שם</span>
                </div>
            </div>

            <div class="text-and-input">
                <span class="text new-small">סכום (לא כולל מע"מ)</span>
                <input class="text new-text" type="number" [(ngModel)]="newStep.price">
                <div class="error-container new-small">
                    <span *ngIf="submitted && newStep.price <= 0 || newStep.price === undefined" class="error">אנא הזינו
                        סכום</span>
                </div>
            </div>

            <div class="future-dates">
                <span>באיזה חודש התשלום צפוי להכנס?</span>
                <div class="dates">
                    <span *ngFor="let date of futureDates; let i = index" (click)="selectDate(date)" tabindex="0"
                        [ngClass]="{'selected': newStep.dateDue === date || (newStep.dateDue !== undefined && newStep.dateDue?.getFullYear() == date?.getFullYear() && newStep.dateDue?.getMonth() === date?.getMonth())}">
                        {{date? (date | date: 'MM') : 'לא ידוע'}}
                    </span>
                </div>
                <div class="error-container">
                    <span *ngIf="submitted && newStep.dateDue === undefined" class="error">אנא בחרו תאריך</span>
                </div>
            </div>
        </div>

        <div class="create-step" *ngIf="newStep && newStep?.stepType !== undefined">
            <img class="icon-confirm-circle" (click)="createStep()" tabindex="0" />
        </div>
    </div>
</div>