<div class="main" [ngClass]="{'border': newStep != undefined}">
    <div class="choose-type" *ngIf="!isEdit && (newStep == undefined || newStep.stepType === undefined)">
        <div class="steps">
            <div class="step-type" (click)="selectType(stepTypeEnum.task)" tabindex="0">
                <div class="new-text-bold">
                    + שלב
                </div>
            </div>
            <div class="step-type" (click)="selectType(stepTypeEnum.payment)" tabindex="0">
                <div class="new-text-bold">
                    + תשלום
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="newStep?.stepType !== undefined" class="details" [ngClass]="{'details-padding': newStep && newStep.stepType !== undefined}">
        <div class="task" *ngIf="newStep?.stepType === stepTypeEnum.task">
            <div class="title">
                <div class="new-text-bold">
                     <span *ngIf="isEdit">עריכת שלב</span>
                     <span *ngIf="!isEdit">שלב חדש</span>
                </div>
                <img src="assets/icons/puzzle_piece.svg" />
            </div>
            <div class="text-and-input">
                <span class="text new-small">שם השלב</span>
                <input class="text new-text" type="text" [(ngModel)]="newStep.name" #stepNameInput tabindex="2">
                <div class="error-container new-small">
                    <span *ngIf="submitted && !newStep.name" class="error">אנא הזינו שם</span>
                </div>
            </div>
            <div class="add-description" *ngIf="!isShowDescription && !isShowTasks">
                <button class="button" (click)="showDescription()" tabindex="3">
                    + פירוט
                </button>
                <button class="button" (click)="showTasks()" tabindex="4">
                    + רשימת משימות
                </button>
            </div>
            <div class="text-and-input" *ngIf="isShowDescription">
                <span class="text new-small">פירוט</span>
                <textarea class="text new-text" maxlength="100" [(ngModel)]="newStep.description" tabindex="5"
                    #descriptionInput></textarea>
            </div>
            <div class="text-and-input" *ngIf="isShowTasks">
                <span class="text new-small">משימות</span>
                <div class="task-list">
                    <div class="task" *ngFor="let task of newStep.tasks; let i = index">
                        <div [class]="'radio-button ' + (task.isComplete? 'checked-circle' : 'empty-circle')"
                            (click)="task.isComplete = !task.isComplete"><img *ngIf="task.isComplete"
                                src="assets\icons\confirm_white.svg" /></div>
                        <textarea [(ngModel)]="task.text" placeholder="משימה חדשה..." autoResize defaultHeight="20px" class="new-small" (input)="taskTextUpdates(task)" (keydown)="handleEnter($event, i)" #taskText></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment" *ngIf="newStep?.stepType === stepTypeEnum.payment">
            <div class="title">
                <div class="new-text-bold">
                    <span *ngIf="isEdit">עריכת שלב </span>תשלום <span></span><span *ngIf="!isEdit">חדש</span>
                </div>
                <img src="assets/icons/dollar.svg" />
            </div>
            <div class="text-and-input">
                <span class="text new-small">שם התשלום</span>
                <input class="text new-text" type="text" [(ngModel)]="newStep.name" #stepNameInput>
                <div class="error-container">
                    <span *ngIf="submitted && !newStep.name" class="error new-small">אנא הזינו שם</span>
                </div>
            </div>

            <div class="text-and-input">
                <span class="text new-small">סכום (לא כולל מע"מ)</span>
                <input class="text new-text" type="number" [(ngModel)]="newStep.price">
                <div class="error-container new-small">
                    <span *ngIf="submitted && newStep.price <= 0 || newStep.price === undefined" class="error">אנא הזינו
                        סכום</span>
                </div>
            </div>

            <div class="future-dates">
                <span>באיזה חודש התשלום צפוי להכנס?</span>
                <div class="dates">
                    <span *ngFor="let date of futureDates; let i = index" (click)="selectDate(date)" tabindex="0"
                        [ngClass]="{'selected': newStep.dateDue === date || (newStep.dateDue !== undefined && newStep.dateDue?.getFullYear() == date?.getFullYear() && newStep.dateDue?.getMonth() === date?.getMonth())}">
                        {{date? (date | date: 'MM') : 'לא ידוע'}}
                    </span>
                </div>
                <div class="error-container">
                    <span *ngIf="submitted && newStep.dateDue === undefined" class="error">אנא בחרו תאריך</span>
                </div>
            </div>
        </div>

        <div class="create-step" *ngIf="newStep && newStep?.stepType !== undefined">
            <img class="icon-confirm-circle" (click)="createStep()" tabindex="0" />
        </div>
    </div>
</div>