@use '../../../mixins.scss' as mixins;

.main {
    @include mixins.regular-border;
    width: 100%;

    .choose-type {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        .steps {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .step-type {
                cursor: pointer;
                @include mixins.regular-border;
                padding: 12px 20px;
                display: flex;
                align-items: center;

                &:hover,
                &:focus {
                    background-color: var(--hover-color);
                }

                img {
                    margin-left: 16px;
                    height: 24px;
                    width: 24px;
                }

                .step-type-tite {
                    font-family: 'black';
                    font-size: var(--font-size-2);
                    margin-bottom: 4px;
                }
            }
        }
    }

    .details {
        padding: 20px 28px 24px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            img {
                height: 24px;
                width: 24px;
            }
        }

        .text-and-input {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            .text {
                margin-bottom: 0.2rem;
            }

            input,
            textarea {
                background-color: transparent;
                @include mixins.regular-border;
            }

            textarea {
                height: 120px;
            }
        }

        .add-description {
            margin-bottom: 20px;

            .button {
                border: none;
                transition: all 0.2s;
                width: fit-content;
                padding: 0.3rem 1rem;
                border-radius: var(--common-radius);
                font-size: var(--font-size-1);
                font-family: 'regular';
                cursor: pointer;
                background-color: var(--hover-color);

                &:hover,
                &:focus {
                    background-color: var(--main-color);
                    color: var(--default-white);
                }
            }
        }

        .create-step {
            display: flex;
            width: 100%;
            justify-content: center;

            img {
                cursor: pointer;
            }
        }

        .future-dates {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-1);
            font-family: 'regular';

            .dates {
                margin-top: 10px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                span {
                    background-color: var(--hover-color);
                    border-radius: var(--common-radius);
                    text-align: center;
                    padding: 0.3rem 0.75rem 0.5rem;
                    cursor: pointer;
                    margin-left: 0.5rem;

                    &:hover,
                    &:focus {
                        background-color: var(--select-color);
                    }

                    &.selected {
                        color: white;
                        background-color: var(--main-color);
                    }
                }
            }
        }
    }
}

.text {
    font-family: 'regular';
    font-size: var(--font-size-1);
}