<div class="main">
    <div class="choose-type" *ngIf="!isEdit && (newStep == undefined || newStep.stepType === undefined)">
        <span class="header">שלב חדש</span>
        <div class="steps">
            <div class="step-type" style="margin-left: 20px;" (click)="selectType(stepTypeEnum.task)" tabindex="0"
                #taskOption>
                <img [src]="`assets/icons/puzzle_piece.svg`" />
                <span class="step-type-tite">{{stepTypeLabels[stepTypeEnum.task]}}</span>
            </div>
            <div class="step-type" (click)="selectType(stepTypeEnum.payment)" tabindex="0">
                <img [src]="`assets/icons/dollar.svg`" />
                <span class="step-type-tite">{{stepTypeLabels[stepTypeEnum.payment]}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="newStep?.stepType !== undefined" class="details">
        <div class="task" *ngIf="newStep?.stepType === stepTypeEnum.task">
            <div class="title">
                <div class="header">
                    <span *ngIf="isEdit">עריכת שלב </span>משימה <span></span><span *ngIf="!isEdit">חדשה</span>
                </div>
                <img src="assets/icons/puzzle_piece.svg" />
            </div>
            <div class="text-and-input">
                <span class="text">שם המשימה</span>
                <input class="text" type="text" [(ngModel)]="newStep.name" #stepNameInput tabindex="2">
                <div class="error-container">
                    <span *ngIf="submitted && !newStep.name" class="error">אנא הזינו שם</span>
                </div>
            </div>
            <div class="add-description" *ngIf="!isShowDescription">
                <button class="button" (click)="showDescription()" tabindex="3">
                    + הוספת פירוט
                </button>
            </div>
            <div class="text-and-input" *ngIf="isShowDescription">
                <span class="text">פירוט</span>
                <textarea class="text" maxlength="100" [(ngModel)]="newStep.description" tabindex="4"
                    #descriptionInput></textarea>
            </div>
        </div>

        <div class="payment" *ngIf="newStep?.stepType === stepTypeEnum.payment">
            <div class="title">
                <div class="header">
                    <span *ngIf="isEdit">עריכת שלב </span>תשלום <span></span><span *ngIf="!isEdit">חדש</span>
                </div>
                <img src="assets/icons/dollar.svg" />
            </div>
            <div class="text-and-input">
                <span class="text">שם התשלום</span>
                <input class="text" type="text" [(ngModel)]="newStep.name" #stepNameInput>
                <div class="error-container">
                    <span *ngIf="submitted && !newStep.name" class="error">אנא הזינו שם</span>
                </div>
            </div>

            <div class="text-and-input">
                <span class="text">סכום (לא כולל מע"מ)</span>
                <input class="text" type="number" [(ngModel)]="newStep.price">
                <div class="error-container">
                    <span *ngIf="submitted && newStep.price <= 0 || newStep.price === undefined" class="error">אנא הזינו
                        סכום</span>
                </div>
            </div>

            <div class="future-dates">
                <span>באיזה חודש התשלום צפוי להכנס?</span>
                <div class="dates">
                    <span *ngFor="let date of futureDates; let i = index" (click)="selectDate(date)" tabindex="0"
                        [ngClass]="{'selected': newStep.dateDue !== null && newStep.dateDue?.getFullYear() == date?.getFullYear() && newStep.dateDue?.getMonth() === date?.getMonth()}">
                        {{date? (date | date: 'MM') : 'לא ידוע'}}
                    </span>
                </div>
                <div class="error-container">
                    <span *ngIf="submitted && newStep.dateDue === null" class="error">אנא בחרו תאריך</span>
                </div>
            </div>
        </div>

        <div class="create-step" *ngIf="newStep && newStep?.stepType !== undefined">
            <img class="icon-confirm-circle" (click)="createStep()" tabindex="0" />
        </div>
    </div>
</div>