@use '../../../mixins.scss' as mixins;

.main {
    width: 600px !important;
    height: 490px !important;
    width: 24rem;
    box-shadow: var(--common-shadow);
    background-color: var(--default-white);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    img {
        height: 90px;
        margin-bottom: 20px;
    }

    .header {
        margin-bottom: 20px;
    }

    span {
        text-align: right;
        width: 100%;
        margin-bottom: 20px;
    }

    .subscribe {
        height: 21px;
        @include mixins.confirm-button;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        img {
            margin: 0 0 0 10px !important;
            width: 18px;
            height: 16px;
        }
    }

    .whatsapp {
        margin-top: 20px;

        .underline {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

::ng-deep .cdk-overlay-dark-backdrop {
    background-color: var(--default-black);
}