<div class="main">
    <img src="assets/icons/hourglass2.svg"/>
    <span class="new-h1">תקופת הניסיון שלך הסתיימה</span>
    <span class="new-text">גם אצלך הזמן עבר מהר?</span>
    <span class="new-text">עברו 14 יום מאז שהגעת אלינו, ואנחנו מקווים שכבר הספקת להרגיש בבית. אם יצרת יותר מפרויקט אחד - הפרויקטים הבאים עברו לארכיון, מכיוון שבתוכנית החינמית שלנו אפשר לנהל רק פרויקט אחד בכל פעם.</span>
    <span class="new-text">כדי להשוות בין התוכניות שלנו או לשדרג - לוחצים כאן:</span>
    <div class="subscribe"></div>
</div>