<div class="main">
    <img src="assets/icons/hourglass2.svg"/>
    <div class="new-h1 header">תקופת הניסיון שלך הסתיימה</div>
    <span class="new-text">גם אצלך הזמן עבר מהר?</span>
    <span class="new-text">עברו 14 יום מאז שהגעת אלינו, ואנחנו מקווים שכבר הספקת להרגיש בבית. אם יצרת יותר מפרויקט אחד - הפרויקטים הבאים עברו לארכיון, מכיוון שבתוכנית החינמית שלנו אפשר לנהל רק פרויקט אחד בכל פעם.</span>
    <span class="new-text">כדי להשוות בין התוכניות שלנו או לשדרג - לוחצים כאן:</span>
    <div class="subscribe" (click)="subscribe()">
        <img src="assets/icons/crown_white.svg"/>
        <div>תכניות ומחירים</div>
    </div>
    <div class="new-small" style="cursor: pointer;" (click)="cancel()">לא כרגע</div>
</div>