@use '../../../mixins.scss' as mixins;

.main {
    width: 24rem;
    box-shadow: var(--common-shadow);
    background-color: var(--default-white);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        height: 90px;
    }

    // .header {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     width: 100%;
    //     margin-bottom: 2rem;
    // }
}