.projects-container {
    height: var(--big-window-height);
    overflow: auto;

    .title {
        display: flex;
        margin-bottom: 10px;
        margin-right: 30px;
    }
}

.project-drag {
    overflow: hidden;
    margin: 0 30px;
    box-shadow: var(--common-shadow);
    border-radius: var(--common-radius);
    margin-top: 20px;

    .project,
    .cdk-drag-preview {
        background-color: var(--default-white);
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 2.5fr 1.5fr 1fr;
        gap: 1rem;
        align-items: center;
        border-radius: var(--common-radius);
        justify-content: space-between;
        height: 80px;
        padding: 0 28px;

        .status-icon {
            height: 32px;
        }

        .title-and-text {
            display: flex;
            flex-direction: column;
        }

        .menu {
            display: flex;
            justify-content: flex-end;
        }

        .disabled-text {
            color: var(--disabled-text);
        }

        .small-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.cdk-drag-preview {
    margin: 0 30px;
    opacity: 0.8;
}

.cdk-drag-placeholder {
    opacity: 0 !important;
}