<div class="projects-container">
    <div class="title new-h2">
        <span>ארכיון פרויקטים</span>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="project-drag" *ngFor="let project of projects()" cdkDrag>
            <div class="project" (contextmenu)="openMenu($event, menuTrigger, menuAnchor)">
                <img class="status-icon"
                    [src]="`assets/icons/${projectStatusIcons[project.status]}.svg`" />
                <span class="project-name new-text-bold" [matTooltipDisabled]="projectName.clientWidth >= projectName.scrollWidth"
                    matTooltipPosition="above" matTooltipClass="custom-tooltip" [matTooltip]="project.description"
                    #projectName>
                    {{project.name}}
                </span>
                <div class="title-and-text new-small">
                    <span class="disabled-text">
                        תאריכים
                    </span>
                    <span class="small-text">
                        <span *ngIf="project.startDate">
                            {{project.startDate | date: 'dd.MM.yyyy'}} - 
                        </span>
                        <span *ngIf="project.startDate && project.endDate">
                            {{project.endDate | date: 'dd.MM.yyyy'}}
                        </span>
                    </span>
                </div>
                <div class="title-and-text new-small">
                    <span class="disabled-text">
                        תקציב
                    </span>
                    <span class="small-text">
                        {{getBasePrice(project)}} ₪
                    </span>
                </div>
                <div class="menu" (click)="$event.stopPropagation()">
                    <img class="menu icon-kabab-menu pointer" [matMenuTriggerFor]="menu" style="padding: 10px;"/>
                    <mat-menu #menu="matMenu" class="pointer">
                        <button *ngFor="let btn of getMenuButtons(project)" mat-menu-item class="menu-item new-small" (click)="btn.action(project)">
                            {{btn.text}}
                        </button>
                    </mat-menu>
                    <div #menuAnchor style="position: fixed; top: 0; left: 0; width: 0; height: 0;"
                        [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"></div>
                </div>
            </div>
        </div>
    </div>
</div>