<div class="main">
    <div class="button">
        <input [(ngModel)]="bonusInput" placeholder="כתובת אימייל"/>
        <button (click)="giveBonusDayes()">תן למשתמש זה 30 ימי פרימיום</button>
    </div>

    <div class="button">
        <input [(ngModel)]="deleteInput" placeholder="כתובת אימייל"/>
        <button (click)="deleteUser()">מחק משתמש זה</button>
    </div>

    <div class="users">
        ישנם במערכת:
        <span>
            {{freeUSers}} משתמשים חינמיים
        </span>
        <span>
            {{partialUsers}} משתמשים במנוי חלקי
        </span>
        <span>
            {{fullUsers}} משתמשים במנוי מלא
        </span>
        <span>
            {{trialUsers}} משתמשים בתקופת נסיון
        </span>
    </div>
</div>