@use '../../../mixins.scss' as mixins;

.main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        text-align: center;
        margin: 20px 0;
    }

    .close_button {
        @include mixins.confirm-button;
    }
}

::ng-deep .cdk-overlay-dark-backdrop {
    background-color: var(--default-black);
    opacity: 0.8;
}