.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .big-title {
            font-size: var(--font-size-4);
            font-family: 'black';
        }

        .sub-title {
            font-size: var(--font-size-2);
            font-family: 'regular';
        }
    }

    .icon {
        height: 1.2rem;
    }

    .text-and-icon {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .coffee {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            cursor: pointer;
            height: 10rem;
            transform: rotate(90deg);
        }
    }

    .payments {
        flex: 1;
        height: 8rem;
        margin: 5rem 0;
    }

    .resources {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1;
        position: relative;
        z-index: 10;

        .text {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            font-family: 'black';
            font-size: var(--font-size-3);

            span {
                margin-bottom: 0.5rem;
            }
        }

        .projects {
            display: flex;
            justify-content: flex-end;
            flex: 5;
        }
    }
}
