<div class="main">
    <div class="header">
        <span class="big-title">{{getGreeting()}}, {{userName}}</span>
        <span class="sub-title">על מה עובדים היום?</span>
    </div>
    <div class="coffee">
        <img [style.transform]="'rotate(' + coffeeRotation + 'deg)'" (click)="getRandomCoffee()"
            [src]="coffeePicture" />
    </div>
    <div class="payments text-and-icon">
        <span>תשלומים</span>
        <img [src]="'assets/icons/' + (isPaymentsHovered? 'info_yes.svg' : 'info_not.svg')"
                (mouseenter)="isPaymentsHovered = true" (mouseleave)="isPaymentsHovered = false" 
                matTooltip="תשלומים עתידיים (לא כולל מעמ) בחודשים הקרובים. מבוסס על התאריכים שהזנת בשלבי התשלום שבתוך הפרויקטים השונים." 
                matTooltipPosition="above" matTooltipClass="custom-tooltip"/>
    </div>
    <div class="resources">
        <div class="text-and-icon">
            <span>חלוקת משאבים</span>
            <img [src]="'assets/icons/' + (isResourcesHovered? 'info_yes.svg' : 'info_not.svg')"
                (mouseenter)="isResourcesHovered = true" (mouseleave)="isResourcesHovered = false" 
                matTooltipPosition="above" matTooltipClass="custom-tooltip"
                matTooltip="איך זמן העבודה שלך מתחלק בין הפרויקטים? הערכה על בסיס הפיצ׳ר ׳זמן מצטבר משוער׳."/>
        </div>
        <div class="projects">
            <div class="project" *ngFor="let project of projects">
                {{project.name}}
            </div>
        </div>
    </div>
</div>