.main {
    height: 100%;
    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .big-title {
            font-size: var(--font-size-4);
            font-family: 'black';
        }

        .sub-title {
            font-size: var(--font-size-2);
            font-family: 'regular';
        }
    }

    .text-and-icon {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        img {
            height: 1.2rem;
        }
    }

    .coffee {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            cursor: pointer;
            height: 10rem;
            transform: rotate(90deg);
        }
    }

    .payments {
        height: 8rem;
        margin: 5rem 0;
    }

    .resources {
        display: flex;
        flex-direction: column;

        .projects {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 0.5rem;

            .project {
                background-color: blue;
                margin: 0.1rem;
            }
        }
    }
}