<div class="main">
    <div class="header">
        <span class="big-title">{{getGreeting()}}, {{userName}}</span>
        <span class="sub-title">על מה עובדים היום?</span>
    </div>
    <div class="coffee">
        <img [style.transform]="'rotate(' + coffeeRotation + 'deg)'" (click)="getRandomCoffee()"
            [src]="coffeePicture" />
    </div>
    <div class="payments">
        <div class="text-and-icon">
            <span class="title">מאזן</span>
            <img class="icon icon-info"
                matTooltip="תשלומים עתידיים (לא כולל מעמ) בחודשים הקרובים. מבוסס על התאריכים שהזנת בשלבי התשלום שבתוך הפרויקטים השונים."
                matTooltipPosition="above" matTooltipClass="custom-tooltip" />
        </div>
        <div class="graph">
            <div class="sums">
                <div>{{maxGraphValue}}</div>
                <div style="margin: 1rem 0; align-items: flex-end;">{{maxGraphValue/2}}</div>
                <div style="align-items: flex-end;">0</div>
            </div>
            <div class="background">
                <div class="bars">
                    <div class="month" *ngFor="let month of graphMonths; let i = index">
                        <div class="progress" [style.height.%]="getFutureGraphValue(i)">
                            <div class="progress-bar-vertical" [matTooltip]="futurePayments[i].toString()" matTooltipPosition="above" matTooltipClass="custom-tooltip" [matTooltipDisabled]="isPayedHovered">
                                <div class="progress-fill-vertical" [style.height.%]="getPastGraphValue(i)" (mouseenter)="isPayedHovered = true"
                                (mouseleave)="isPayedHovered = false" [matTooltip]="pastPayments[i].toString()" matTooltipPosition="above" matTooltipClass="custom-tooltip"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="months">
                    <span *ngFor="let month of graphMonths">{{month | number: '2.0'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="resources">
        <div class="text">
            <span>חלוקת משאבים</span>
            <img class="icon icon-info" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                matTooltip="איך זמן העבודה שלך מתחלק בין הפרויקטים? הערכה על בסיס הפיצ׳ר ׳זמן מצטבר משוער׳." />
        </div>
        <div class="projects">
            <app-circle-segment [projects]="projects"></app-circle-segment>
        </div>
    </div>
</div>