<div class="main-window">
  <div class="tabs-container">
    <div class="tab-list" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
      <img src="assets/focus_logo.svg" class="logo" />
      <div *ngFor="let tab of tabs" [class.active]="tab.id === activeTab.id" class="tab new-small" (click)="setActiveTab(tab)"
        cdkDrag [cdkDragDisabled]="tab.id === homeTab.id || tab.id === archiveTab.id">
        <span>{{ tab.label }}</span>
        <img [src]="tab.icon" />
      </div>
    </div>
    <img class="profile" [ngClass]="{pointer: !isReadOnly()}" [src]="userPicture" (click)="isReadOnly()? '' : navigateToProfile()" />
  </div>

  <div class="main-content">
    <div class="home-container" [ngClass]="{ 'show-before': isProjectHovered() }" *ngIf="activeTab?.id === homeTab?.id">
      <div class="home">
        <div class="summary">
          <app-summary [projects]="projectsForPayment"></app-summary>
        </div>
        <div class="projects-list">
          <app-projects-list (selectProjectEmitter)="selectProject($event)"
            (activeProjectsEmitter)="refreshProjects()"></app-projects-list>
        </div>
        <div class="updates">
          <app-updates></app-updates>
        </div>
      </div>
    </div>

    <div class="project-container" *ngIf="activeTab?.id !== 'none' && activeTab?.id !== homeTab?.id && activeTab.id !== archiveTab.id">
      <app-project-page class="project-page" (navigateToHomeEmitter)="setActiveTab(tabs[0])" #projectPage></app-project-page>
    </div>

    <div class="home-container" *ngIf="activeTab.id === archiveTab.id">
      <div class="home">
        <div class="summary">
          <app-summary [projects]="activeProjects()"></app-summary>
        </div>
        <div class="projects-list">
          <app-archive
            (unActiveProjectsEmitter)="refreshProjects()"></app-archive>
        </div>
        <div class="updates">
          <app-updates></app-updates>
        </div>
      </div>
    </div>
  </div>
</div>