<div class="main">
    <div class="header">
        <div class="title" [class.selected]="tabSelected === 1">
            <img [src]="'assets/icons/' + (tabSelected === 1? 'note_white' : 'note_black') + '.svg'" />
            <span class="pointer new-small-bold" (click)="tabSelected = 1">רשימות</span>
        </div>
        <div class="title" [class.selected]="tabSelected === 2">
            <img [src]="'assets/icons/' + (tabSelected === 2? 'paper_clip_white' : 'paper_clip_black') + '.svg'" />
            <span class="pointer new-small-bold" (click)="tabSelected = 2">קישורים</span>
        </div>
        <div class="title" [class.selected]="tabSelected === 3">
            <img [src]="'assets/icons/' + (tabSelected === 3? 'stars_white' : 'stars_black') + '.svg'" />
            <span class="pointer new-small-bold" (click)="this.openAiChat()">פוקוס
                מאסטר</span>
        </div>
        <img class="pointer icon-expand" (click)="showNotes()" />
    </div>
    <ng-container>
        <ng-container [ngSwitch]="tabSelected">
            <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="editorTemplate"></ng-container>
            <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="linksTemplate"></ng-container>
            <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="masterTermplate"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #editorTemplate>
    <div class="lists">
        <app-rich-text [project]="project()" style="height: 100%;"></app-rich-text>
    </div>
</ng-template>

<ng-template #linksTemplate>
    <app-project-links [project]="project()"></app-project-links>
</ng-template>

<ng-template #masterTermplate>
    <div class="ai-chat">
        <app-ai-chat [project]="project" style="height: 100%; overflow: auto; margin-bottom: 50px;"></app-ai-chat>
    </div>
</ng-template>