@use '../../../mixins.scss' as mixins;

.main {
    width: 100%;
    height: var(--big-window-height);

    .header {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--default-black);

        .title {
            display: flex;
            align-items: center;
            padding: 4px 10px;
            border-radius: var(--common-radius);

            span {
                margin-bottom: 3px;
                margin-right: 7px;
            }
        }

        .selected {
            color: var(--default-white);
            background-color: var(--main-color);
        }
    }

    .lists {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: var(--big-window-height);
    }

    .ai-chat {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: var(--big-window-height);
    }
}