<div class="main">
    <div class="summurize" [ngClass]="{ 'show-before': hideProperties() }">
        <div class="info">
            <div class="text-and-icon">
                <span class="title">{{project().name}}</span>
                <img class="pointer icon-expand" (click)="openProjectModal()" *ngIf="!isReadOnly()"/>
            </div>
            <span class="description" *ngIf="project()?.description">
                {{project().description}}
            </span>
            <div class="dates">
                <div class="cell date-heaeder">תאריך התחלה</div>
                <div class="cell date-heaeder">תאריך סיום</div>
                <div class="cell date-value">{{project().startDate | date: 'dd.MM.yyyy'}}</div>
                <div class="cell date-value">{{project().endDate | date: 'dd.MM.yyyy'}}</div>
            </div>
            <!-- <div class="update-client">
                <div class="toggle-switch" [class.on]="project().updateClient" (click)="updateCient()">
                    <div class="switch-thumb"></div>
                </div>
                <span>הלקוח/ה {{project().updateClient? '' : ' לא'}} מקבל/ת עדכונים על התקדמות ושינויים</span>
            </div> -->
        </div>
        <div class="price">
            <div class="text-and-icon">
                <span class="title">מחיר (לא כולל מע"מ)</span>
                <img class="icon icon-info" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                    matTooltip="אם מחיר הפרויקט משתנה, כל מה שצריך לעשות הוא לשנות את הסכומים בשלבי התשלום (או להוסיף תשלום חדש). המחיר הכולל יתעדכן בהתאם." />
            </div>
            <span class="base-price">{{baseProjectPrice | number}} ₪</span>
            <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="baseProjectPrice?(paidMoney/baseProjectPrice)*100 : 100">
                </div>
            </div>
            <div class="paid-remain">
                <div class="paid">
                    <span class="title">שולם</span>
                    <span class="value">{{paidMoney | number}} ₪</span>
                </div>
                <div class="remain">
                    <span class="title">נשאר לתשלום</span>
                    <span class="value">{{baseProjectPrice-paidMoney | number}} ₪</span>
                </div>
            </div>
        </div>
    </div>
    <div class="steps" cdkDropList (cdkDropListDropped)="dropStep($event)" *ngIf="!showNotes">
        <div [class]="step.isComplete? 'finished' : 'not-finished'" #stepDiv
            [ngClass]="{'step' : editStepId !== step.id, 'active-step': step.id === activeStepId && step.id !== editStepId}"
            *ngFor="let step of project().steps; let i = index" (mouseenter)="hoverStep(step.id, i)"
            (mouseleave)="hoverStepId = undefined" cdkDrag>
            <div *ngIf="editStepId !== step.id && animationHackFlag">
                <div class="step-header">
                    <span [ngClass]="{'step-name': step.id !== activeStepId}" #stepHeader>{{step.name}}</span>
                    <img [class]="isReadOnly()? 'finished-icon' : 'pointer icon-confirm'" (click)="isReadOnly()? '' : changeStepStatus(step)" *ngIf="step.isComplete" />
                    <img [src]="`assets/icons/${step.stepType === stepTypeEnum.task? 'puzzle_piece' : 'dollar'}.svg`"
                        *ngIf="!step.isComplete" />
                </div>
                <div class="extra" [@expandCollapse]="(hoverStepId === step.id) ? 'expanded' : 'collapsed'"
                    *ngIf="step.isComplete">
                    הסתיים בתאריך {{step.dateCompleted | date: 'dd.MM.yyyy'}}
                </div>
                <div [@expandCollapse]="(hoverStepId === step.id || activeStepId === step.id) ? 'expanded' : 'collapsed'"
                    class="extra-not-finished" *ngIf="!step.isComplete">
                    <textarea [ngClass]="{'active': activeStepId === step.id}" disabled="true"
                        *ngIf="(step.stepType === stepTypeEnum.payment && step.price) || (step.stepType === stepTypeEnum.task && step.description)"
                        #descriptions>{{step.stepType === stepTypeEnum.payment? (step.price + ' ₪') : step.description}}</textarea>
                    <div class="step-icons" *ngIf="!isReadOnly()">
                        <div class="edit-delete">
                            <img class="icon-garbage-can" (click)="deleteStep(step)" />
                            <img class="icon-pencil" (click)="editStep(stepDiv, step.id)" />
                        </div>
                        <div class="animation-container">
                            <div class="finish-step-animation"
                                [style.display]="animatingItemId === step.id ? 'content' : 'none'">
                                <ng-lottie [options]="lottieOptions" />
                            </div>
                            <img class="icon-confirm-circle" (click)="changeStepStatus(step)"
                                *ngIf="step.id !== animatingItemId" />
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="editStepId === step.id" (mousedown)="$event.stopPropagation(); mouseDownInside = true;">
                <app-new-step class="new-step" [steptInput]="step" (stepsEmitter)="updateStep($event)"></app-new-step>
            </div>
        </div>
        <div class="add-step" *ngIf="!isShowNewStep && !isReadOnly()">
            <img (click)="showNewStep()" class="icon-plus" #addStepDiv tabindex="0" />
        </div>
        <div *ngIf="isShowNewStep" #newStepDiv>
            <app-new-step class="new-step" (stepsEmitter)="createNewStep($event)"></app-new-step>
        </div>
    </div>
    <div class="rich-text" *ngIf="showNotes" #richTextDiv>
        <app-rich-text [project]="project()" [expanded]="true"></app-rich-text>
    </div>
    <div class="notes" #notesDiv>
        <app-notes [project]="project()" [notesPopup]="showNotes"
            (showNotesEmitter)="showNotesPopup($event)"></app-notes>
    </div>
</div>