@use '../../../mixins.scss' as mixins;

.main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    background-color: var(--home-color);

    .pointer {
        cursor: pointer;
    }

    .animation-container {
        position: relative;
    }

    .finish-step-animation {
        position: relative;
        height: 95px;
        transform: translate(-32%, 28%);
    }

    .summurize {
        width: 360px;
        display: flex;
        height: var(--big-window-height);
        flex-direction: column;
        justify-content: space-between;

        .text-and-icon {
            display: flex;
            justify-content: space-between;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-family: 'black';
                font-size: var(--font-size-5);
                z-index: 2;
                margin-bottom: 20px;
            }

            .description {
                margin-bottom: 20px;
                font-family: 'regular';
                font-size: var(--font-size-1);
            }

            .dates {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .cell {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                .date-heaeder {
                    font-size: var(--font-size-1);
                    font-family: 'medium';
                }

                .date-value {
                    font-size: var(--font-size-3);
                    font-family: 'black';
                }
            }

            .update-client {
                display: flex;
                margin-top: 1rem;

                span {
                    margin-right: 1rem;
                    font-family: 'medium';
                    font-size: var(--font-size-1);
                }
            }
        }

        .price {
            .title {
                display: flex;
                flex-direction: column;
                font-family: 'regular';
                font-size: var(--font-size-1);
            }

            .base-price {
                font-family: 'black';
                font-size: var(--font-size-3);
            }

            .progress-bar {
                margin: 1rem 0;
            }

            .paid-remain {
                display: flex;
                justify-content: space-between;

                .paid,
                .remain {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    font-size: var(--font-size-1);
                    font-family: 'medium';

                    .title {
                        color: var(--disabled-text);
                    }
                }
            }
        }
    }

    .summurize.show-before::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--blur);
        z-index: 1;
        pointer-events: none;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: var(--big-window-height);
        overflow: auto;
        flex: 1;

        .step {
            @include mixins.step;

            .step-header {
                height: 28px;
                align-items: center;
            }
        }

        .extra-not-finished {
            font-family: 'regular';
            font-size: var(--font-size-2);
            display: flex;
            flex-direction: column;

            span {
                margin-bottom: 2rem;
            }

            .step-icons {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                height: 24px;

                .edit-delete {
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }

                img {
                    cursor: pointer;
                }

                .edit-delete {
                    img {
                        margin-left: 1rem;
                    }
                }
            }
        }

        .add-step {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-bottom: 200px;
        }

        .new-step {
            display: flex;
            width: 24rem;
            margin-bottom: 2rem;
        }
    }

    .rich-text {
        height: var(--big-window-height);
        padding: 2rem;
        @include mixins.big-popup;
        z-index: 2;
    }

    .notes {
        z-index: 2;
        width: 360px;
        height: var(--big-window-height);
    }

    .icon {
        height: 1.5rem;
    }
}

.cdk-drag-preview {
    @include mixins.step;
    background-color: var(--home-color);
    width: 15.25rem !important;
    height: auto !important;

    &.active-step {
        width: 20rem !important;
        font-size: var(--font-size-4) !important;
        background-color: var(--default-white) !important;
        border: none !important;
        box-shadow: var(--common-shadow) !important;
        // padding: 32px 40px 40px !important;
    }

    .step-header {
        width: 100%;
        display: flex;
        align-items: center !important;
        justify-content: space-between;
        font-family: 'black';

        .step-name {
            font-size: var(--font-size-2);
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0 !important;
}