@use '../../../mixins.scss' as mixins;

.main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    background-color: var(--home-color);

    textarea[autoResize] {
        transition: height 0.15s ease;
        overflow-y: hidden;
        resize: none;
    }

    .pointer {
        cursor: pointer;
    }

    .animation-container {
        position: relative;
    }

    .finish-step-animation {
        position: relative;
        height: 95px;
        transform: translate(-32%, 28%);
    }

    .summurize {
        width: 360px;
        display: flex;
        height: var(--big-window-height);
        flex-direction: column;
        justify-content: space-between;

        .text-and-icon {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                z-index: 2;
                margin-bottom: 20px;
            }

            .description {
                margin-bottom: 20px;
            }

            .dates {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .cell {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }

        .price {
            .title {
                display: flex;
                flex-direction: column;
            }

            .progress-bar {
                margin: 1rem 0;
            }

            .paid-remain {
                display: flex;
                justify-content: space-between;

                .paid,
                .remain {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .title {
                        color: var(--disabled-text);
                    }
                }
            }
        }
    }

    .summurize.show-before::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--blur);
        z-index: 1;
        pointer-events: none;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: var(--big-window-height);
        overflow: auto;
        flex: 1;

        .step {
            @include mixins.step;

            .active {
                align-items: center;
                margin-bottom: 20px;
            }



        }

        .extra-not-finished {
            .task-list {
                display: flex;
                flex-direction: column;

                .active {
                    margin-bottom: 16px;
                }

                .task {
                    display: flex;
                    align-items: flex-start;

                    .radio-button {
                        border-radius: 50%;
                        margin-top: 3px;
                        height: 15px;
                        width: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--default-white);
                        cursor: pointer;

                        img {
                            height: 70%;
                            user-select: none;
                        }
                    }

                    .checked-circle {
                        border: solid 2px transparent;
                        background-color: var(--main-color);
                    }

                    .empty-circle {
                        background-color: transparent;
                        border: solid 2px var(--main-color);
                    }

                    textarea {
                        width: 100%;
                        border: none;
                        resize: none;
                        padding: 0;
                        overflow: hidden;
                        border-radius: 0px;
                        margin-right: 6px;
                        margin-top: 0;

                        &.active {
                            margin-bottom: 20px;
                        }

                        .future {
                            margin-bottom: 16px;
                        }
                    }
                }
            }

            textarea {
                box-sizing: border-box;
                border: none;
                resize: none;
                padding: 0;
                overflow: hidden;
                border-radius: 0px;
                width: 100%;
                margin-bottom: 16px;
            }
        }

        .add-step {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                height: 32px;
            }
        }

        .new-step {
            display: flex;
            width: 24rem;
        }
    }

    .rich-text {
        height: var(--big-window-height);
        @include mixins.big-popup;
        z-index: 2;
    }

    .notes {
        z-index: 2;
        width: 360px;
        height: var(--big-window-height);
    }

    .icon {
        height: 20px;
        width: 20px;
    }
}

.cdk-drag-preview {
    @include mixins.step;
    background-color: var(--home-color);
    width: 15.25rem !important;
    height: auto !important;
    border-radius: 0;

    .extra-not-finished {
        textarea {
            box-sizing: border-box;
            border: none;
            resize: none;
            padding: 0;
            overflow: hidden;
            border-radius: 0px;

            &.active {
                font-size: var(--font-size-2);
            }
        }
    }

    &.active-step {
        width: 20rem !important;
    }
}

.finished-icon {
    content: url('../../../assets/icons/confirm_yes.svg');
}

.cdk-drag-placeholder {
    opacity: 0 !important;
}