@use '../../../mixins.scss' as mixins;

@mixin extra-not-finished-style {
    .task-list {
        display: flex;
        flex-direction: column;

        .active {
            margin-bottom: 16px;
        }

        .task {
            display: flex;
            align-items: flex-start;

            .radio-button {
                border-radius: 50%;
                margin-top: 3px;
                height: 15px;
                width: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--default-white);
                cursor: pointer;

                img {
                    height: 70%;
                    user-select: none;
                }
            }

            .checked-circle {
                border: solid 2px transparent;
                background-color: var(--main-color);
            }

            .empty-circle {
                background-color: transparent;
                border: solid 2px var(--main-color);
            }

            textarea {
                width: 100%;
                border: none;
                resize: none;
                padding: 0;
                overflow: hidden;
                border-radius: 0px;
                margin-right: 6px;
                margin-top: 0;

                &.active {
                    margin-bottom: 20px;
                }

            }
        }
    }

    textarea {
        box-sizing: border-box;
        border: none;
        resize: none;
        padding: 0;
        overflow: hidden;
        border-radius: 0px;
        width: 100%;
        margin-bottom: 16px;
    }
}

@mixin retainer-step-style {
    @include mixins.step;
    width: 340px !important;
    font-size: var(--font-size-3) !important;
    margin-bottom: 0;
    background-color: var(--default-white);
    box-shadow: var(--common-shadow);
    padding: 28px 36px 36px;
    box-sizing: border-box;

    .step-header {
        margin-bottom: 20px;
    }

    textarea {
        border: none !important;
        padding: 0;
        border-radius: 0px;
    }

    .recurring-data-span {
        @include mixins.step-option-button;
        cursor: default;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .step-icons {
        margin-top: 20px;
    }
}

.main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    background-color: var(--home-color);

    textarea[autoResize] {
        transition: height 0.15s ease;
        overflow-y: hidden;
        resize: none;
    }

    .pointer {
        cursor: pointer;
    }

    .animation-container {
        position: relative;
    }

    .finish-step-animation {
        position: absolute;
        transform: scale(4);
    }

    .summurize {
        width: 360px;
        display: flex;
        height: var(--big-window-height);
        flex-direction: column;
        justify-content: space-between;

        .text-and-icon {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                z-index: 2;
                margin-bottom: 20px;
            }

            .description {
                margin-bottom: 20px;
            }

            .dates {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .cell {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;

                    .cell-title {
                        color: var(--default-gray);
                    }
                }
            }
        }

        .price {
            .title {
                display: flex;
                flex-direction: column;
            }

            .progress-bar {
                margin: 1rem 0;
            }

            .paid-remain {
                display: flex;
                justify-content: space-between;

                .paid,
                .remain {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .title {
                        color: var(--disabled-text);
                    }
                }
            }
        }

        .sessions-counter {
            box-sizing: border-box;
            transition: 0.3s ease;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            color: var(--default-white);
            background-color: var(--main-color);
            border-radius: 20px;



            .timer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    height: 21px;
                    width: 18px;
                }

                .clock {
                    display: flex;
                    align-items: center;

                    .group {
                        display: inline-block;
                        min-width: 2ch;
                        text-align: right;
                        font-size: var(--font-size-4);
                        font-family: 'regular';
                    }

                    .colon {
                        width: 0.6ch;
                        font-size: var(--font-size-4);
                        font-family: 'regular';
                    }
                }
            }

            .save-session {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    background-color: var(--default-white);
                }
            }
        }
    }

    .summurize.show-before::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--blur);
        z-index: 1;
        pointer-events: none;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: var(--big-window-height);
        overflow: auto;
        flex: 1;

        .step {
            @include mixins.step;

            .active {
                align-items: center;
                margin-bottom: 20px;
            }

            .future {
                margin-bottom: 16px;
            }
        }
    }

    .accordions-conteiner {
        display: flex;
        flex-direction: column;
        width: 750px;

        .accordion {
            width: 100%;
    
            .title {
                cursor: pointer;
                font-size: var(--font-size-3);
                font-family: 'regular';
                padding: 0 25px;
            }
    
            .line {
                width: 100%;
                height: 0px;
                border: 1px solid var(--border-color);
                margin: 10px 25px;
            }

            .content {
                padding: 0 25px;
                margin-bottom: 20px;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                max-height: calc(var(--big-window-height) - 150px);
            }
    
            .opened {
                &.title {
                    font-family: 'bold';
                }
            }
        }
    }

    .retainer-steps {
        width: 710px;
        gap: 15px;
        padding: 15px 0;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;

        .retainer-step {
            @include retainer-step-style;
        }

        .add-step {
            margin-bottom: 0;
        }
    }

    .new-step {
        display: flex;
        width: 400px;
        margin-bottom: 28px;
    }

    .new-retainer-step {
        display: flex;
        width: 340px;
        margin-bottom: 28px;
    }

    .add-step {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
        width: 100%;

        img {
            cursor: pointer;
            height: 32px;
            padding-bottom: 8px;
        }
    }

    .extra-not-finished {
        @include extra-not-finished-style;
    }

    .rich-text {
        height: var(--big-window-height);
        @include mixins.big-popup;
        z-index: 2;
    }

    .notes {
        z-index: 2;
        width: 360px;
        height: var(--big-window-height);
    }

    .icon {
        height: 20px;
        width: 20px;
    }
}

.cdk-drag-preview {
    textarea {
        resize: none;
        overflow: hidden;
    }

    &.step {
        @include mixins.step;
        @include extra-not-finished-style;
        background-color: var(--home-color);
        width: 15.25rem !important;
        height: auto !important;
        border-radius: 0;
    }

    &.retainer-step {
        height: auto !important;
        @include retainer-step-style;
    }

    &.step.not-finished {
        padding: 20px 28px 24px;
    }

    &.active-step {
        width: 20rem;
        font-size: var(--font-size-3) !important;
        background-color: var(--default-white);
        border: none !important;
        box-shadow: var(--common-shadow);
        padding: 28px 36px 36px !important;
    }

    .active {
        margin-bottom: 20px;
    }

    .future {
        margin-bottom: 16px;
    }

    &.active-step {
        width: 20rem !important;
    }
}

.finished-icon {
    content: url('../../../assets/icons/confirm_yes.svg');
}

.cdk-drag-placeholder {
    opacity: 0 !important;
}