<div class="main">
    <ng-container *ngIf="!openNotesSignal()">
        <app-project-summary [project]="project" [isReadOnly]="isReadOnly" [baseProjectPrice]="baseProjectPrice"
            [paidMoney]="paidMoney" [retainerActiveSteps]="retainerActiveSteps"
            (openProjectModalEvent)="onOpenProjectModal()" (openPaymentHistoryModalEvent)="onOpenPaymentHistoryModal()"
            (finishWorkingSessionEvent)="onFinishWorkingSession($event)">
        </app-project-summary>
        <div class="steps" cdkDropList (cdkDropListDropped)="dropStep($event)"
            *ngIf="project().projectType !== projectTypeEnum.retainer" #stepsContainer>
            <div [class]="step.isComplete? 'finished' : ((hoverStepId === step.id || generateTaxDocumentId() === step.id || shouldGenerateTaxDocumentId() === step.id)? 'not-finished' : '')"
                #stepDiv
                [ngClass]="{'step' : editStepId !== step.id, 'active-step': step.id === activeStepId && step.id !== editStepId}"
                *ngFor="let step of project().steps; let i = index" (mouseenter)="hoverStep(step.id, i)"
                (mouseleave)="hoverStepId = undefined" cdkDrag>
                <div *ngIf="editStepId !== step.id && animationHackFlag && generateTaxDocumentId() !== step.id">
                    <div [class]="'step-header '"
                        [ngClass]="{ 'active': !step.isComplete && step.id === activeStepId, 'future': (generateTaxDocumentId() === step.id || shouldGenerateTaxDocumentId() === step.id) || (!step.isComplete && step.id !== activeStepId && hoverStepId === step.id) }">
                        <span [class]="step.id === activeStepId? 'new-h2' : 'new-text-bold'"
                            #stepHeader>{{step.name}}</span>
                        <img [class]="isReadOnly()? 'finished-icon' : 'pointer ' + (step.stepType === stepTypeEnum.payment? 'dollar-confirm' : 'icon-confirm')"
                            (click)="isReadOnly()? '' : changeStepStatus(step)" *ngIf="step.isComplete" />
                        <img src="assets/icons/dollar.svg"
                            *ngIf="!step.isComplete && step.stepType === stepTypeEnum.payment" />
                    </div>
                    <ng-container *ngIf="shouldGenerateTaxDocumentId() !== step.id">
                        <div class="extra" [@expandCollapse]="(hoverStepId === step.id) ? 'expanded' : 'collapsed'"
                            *ngIf="step.isComplete">
                            הסתיים בתאריך {{step.dateCompleted | date: 'dd.MM.yyyy' : 'UTC'}}
                        </div>
                        <div [@expandCollapse]="(hoverStepId === step.id || activeStepId === step.id) ? 'expanded' : 'collapsed'"
                            class="extra-not-finished" *ngIf="!step.isComplete">
                            <textarea [class]="activeStepId === step.id? 'new-text active' : 'new-small future'"
                                disabled="true"
                                *ngIf="((step.stepType === stepTypeEnum.payment && step.price) || (step.stepType === stepTypeEnum.task && step.description) && !step.tasks)"
                                #descriptions autoResize
                                rows="1">{{step.stepType === stepTypeEnum.payment? (step.price + ' ₪') : step.description}}</textarea>
                            <div class="tasks" *ngIf="step.tasks">
                                <div class="task-list" cdkDropList (cdkDropListDropped)="dropTask($event, step)">
                                    <div class="task" *ngFor="let task of step.tasks; let i = index" cdkDrag>
                                        <div *ngIf="i < step.tasks.length" style="display: flex;">
                                            <img [src]="'assets/icons/'+(task.isComplete? 'confirm_yes' : 'empty_circle')+'.svg'"
                                                (click)="toggleTask(step, task)"
                                                [style.pointer-events]="isReadOnly() ? 'none' : 'auto'"
                                                class="task-icon" />
                                            <textarea
                                                [class]="activeStepId === step.id? 'new-text active' : 'new-small future'"
                                                [(ngModel)]="task.text" autoResize defaultHeight="20px"
                                                #taskText></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-icons" *ngIf="!isReadOnly()">
                                <div class="edit-delete">
                                    <img class="icon-garbage-can-gray-blue" (click)="deleteStep(step)" />
                                    <img class="icon-pencil" (click)="editStep(stepDiv, step.id)" />
                                    <img class="icon-add-file" (click)="showGenerateTaxDocument(step.id ?? '')"
                                        *ngIf="step.stepType === stepTypeEnum.payment" />
                                </div>
                                <div class="animation-container">
                                    <div class="finish-step-animation" *ngIf="step.id === animatingItemId">
                                        <ng-lottie [options]="lottieOptions"
                                            (animationCreated)="finishStepAnimationCreated($event)" />
                                    </div>
                                    <img class="icon-confirm-circle" (click)="completeStep(step)" />
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="should-generate-tax-document" *ngIf="shouldGenerateTaxDocumentId() === step.id">
                        <span class="new-text">ברכות! האם ליצור חשבונית מס או קבלה?</span>
                        <div class="buttons">
                            <div class="decline-button" (click)="dontGenerateTaxDocument(step)">לא הפעם</div>
                            <div class="confirm-button" (click)="generateTaxDocument(step)">כן, אני רוצה ליצור מסמך
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="editStepId === step.id" (mousedown)="$event.stopPropagation(); mouseDownInside = true;">
                    <app-new-step class="new-step" [steptInput]="step" [isActive]="editStepId === activeStepId"
                        (stepsEmitter)="updateStep($event)"></app-new-step>
                </div>
                <div class="generate-tax-document" *ngIf="generateTaxDocumentId() === step.id" #generateTaxDocumentDiv
                    (mousedown)="$event.stopPropagation(); mouseDownInside = true;">
                    <app-generate-tax-document [project]="project()" [paymentName]="step.name ?? ''"
                        [paymentPriceInput]="step.price" [step]="step" (documentCreated)="taxDocumentCreated(step)"></app-generate-tax-document>
                </div>
            </div>
            <div class="add-step" *ngIf="!isShowNewStep && !isReadOnly()">
                <img (click)="showNewStep()" class="icon-plus" #addStepDiv tabindex="0" />
            </div>
            <div *ngIf="isShowNewStep" #newStepDiv>
                <app-new-step class="new-step" (stepsEmitter)="createNewStep($event)" style="margin-bottom: 200px;"
                    (scrollToBottom)="scrollToBottom()"></app-new-step>
            </div>
        </div>

        <div class="accordions-container" *ngIf="isRetainer">
            <div class="accordion">
                <span class="title" [ngClass]="{'opened': openedAccordion == 1}" (click)="clickOnAccordion(1)">משימות
                    פתוחות</span>
                <div class="content" [class]="(openedAccordion === 1) ? 'expanded' : 'collapsed'">
                    <div class="retainer-steps" *ngIf="isRetainer" cdkDropList cdkDropListOrientation="mixed"
                        #stepsContainer (cdkDropListDropped)="dropStep($event, retainerActiveSteps)">
                        <div class="retainer-step" *ngFor="let step of retainerActiveSteps; let i = index" #stepDiv
                            cdkDrag>
                            <div *ngIf="animationHackFlag">
                                <div class="step-header active">
                                    <span class="new-text-bold">{{step.name}}</span>
                                    <img *ngIf="step.stepType === stepTypeEnum.payment" src="assets/icons/dollar.svg" />
                                </div>
                                <div class="new-small step-description"
                                    *ngIf="((step.stepType === stepTypeEnum.payment && step.price) || (step.stepType === stepTypeEnum.task && step.description) && !step.tasks)"
                                    #descriptions>
                                    @if (step.stepType === stepTypeEnum.payment) {
                                    תשלום בסך <span class="new-text-bold">{{ step.price }} ₪</span>
                                    } @else {
                                    {{ step.description }}
                                    }
                                </div>
                                <div class="tasks" *ngIf="step.tasks">
                                    <div class="task-list" cdkDropList (cdkDropListDropped)="dropTask($event, step)">
                                        <div class="task" *ngFor="let task of step.tasks; let i = index" cdkDrag>
                                            <div *ngIf="i < step.tasks.length" style="display: flex;">
                                                <div [class]="'radio-button ' + (task.isComplete? 'checked-circle' : 'empty-circle')"
                                                    (click)="toggleTask(step, task)"
                                                    [style.pointer-events]="isReadOnly() ? 'none' : 'auto'">
                                                    <img *ngIf="task.isComplete" src="assets\icons\confirm_white.svg" />
                                                </div>
                                                <textarea class="new-small future" [(ngModel)]="task.text" autoResize
                                                    defaultHeight="20px" #taskText></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="recurring-data-span" *ngIf="step.isRecurring">
                                    <img class="cycle" />
                                    <span>חוזר כל {{step.recurringEvery && step.recurringEvery > 1? step.recurringEvery
                                        :''}}&nbsp;</span>
                                    <span
                                        *ngIf="step.recurringDateType === recurringDateTypeEnum.day">{{(step.recurringEvery
                                        && step.recurringEvery > 1)? 'ימים' : 'יום'}}</span>
                                    <span
                                        *ngIf="step.recurringDateType === recurringDateTypeEnum.week">{{(step.recurringEvery
                                        && step.recurringEvery > 1)? 'שבועות' : 'שבוע'}} {{(step.recurringDaysInWeek &&
                                        step.recurringDaysInWeek.length > 1)? 'בימים' : 'ביום'}}
                                        {{getWeekDays(step.recurringDaysInWeek)}}</span>
                                    <span
                                        *ngIf="step.recurringDateType === recurringDateTypeEnum.month">{{(step.recurringEvery
                                        && step.recurringEvery > 1)? 'חודשים' : 'חודש'}} ב-{{step.recurringDayInMonth}}
                                        לחודש</span>
                                </div>
                                <div class="extra-not-finished">
                                    <div class="step-icons" *ngIf="!isReadOnly()">
                                        <div class="edit-delete">
                                            <img class="icon-garbage-can-gray-blue" (click)="deleteStep(step)"
                                                *ngIf="!(project().paymentModel === paymentModelEnum.monthly && step.stepType === stepTypeEnum.payment && step.isRecurring)" />
                                            <img class="icon-pencil" (click)="openNewStepModal(step)" />
                                        </div>
                                        <div class="animation-container">
                                            <div class="finish-step-animation" *ngIf="step.id === animatingItemId">
                                                <ng-lottie [options]="lottieOptions"
                                                    (animationCreated)="finishStepAnimationCreated($event)" />
                                            </div>
                                            <img class="icon-confirm-circle" (click)="changeStepStatus(step)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-step" *ngIf="!isShowNewStep && !isReadOnly()">
                        <img (click)="showNewStepModal()" class="icon-plus" #addStepDiv tabindex="0" />
                    </div>
                </div>
                <div class="line"></div>
            </div>
            <div class="accordion">
                <span class="title" [ngClass]="{'opened': openedAccordion == 2}" (click)="clickOnAccordion(2)">משימות
                    עתידיות</span>
                <div class="content" [class]="(openedAccordion === 2) ? 'expanded' : 'collapsed'">
                    <div class="retainer-steps" *ngIf="isRetainer" cdkDropList cdkDropListOrientation="mixed"
                        #stepsContainer (cdkDropListDropped)="dropStep($event, retainerFutureSteps)">
                        <div class="retainer-step-future not-finished" style="break-inside: avoid;"
                            *ngFor="let step of retainerFutureSteps; let i = index" (mouseenter)="hoverStep(step.id, i)"
                            (mouseleave)="hoverStepId = undefined" (cdkDragStarted)="adjustCdkPreviewHeight(stepDiv)"
                            #stepDiv cdkDrag>
                            <div *ngIf="animationHackFlag">
                                <div class="step-header active">
                                    <span class="new-text-bold">{{step.name}}</span>
                                    <img src="assets/icons/cycle_white.svg" />
                                </div>
                                <textarea class="new-small" disabled="true"
                                    *ngIf="((step.stepType === stepTypeEnum.payment && step.price) || (step.stepType === stepTypeEnum.task && step.description) && !step.tasks)"
                                    #descriptions
                                    [@expandCollapse]="(hoverStepId === step.id) ? 'expanded' : 'collapsed'"
                                    rows="1">{{step.stepType === stepTypeEnum.payment? (step.price + ' ₪22') : step.description}}</textarea>
                                <div class="tasks" *ngIf="step.tasks">
                                    <div class="task-list">
                                        <div class="task" *ngFor="let task of step.tasks; let i = index">
                                            <div *ngIf="i < step.tasks.length" style="display: flex;">
                                                <div [class]="'radio-button ' + (task.isComplete? 'checked-circle' : 'empty-circle')"
                                                    (click)="toggleTask(step, task)"
                                                    [style.pointer-events]="isReadOnly() ? 'none' : 'auto'">
                                                    <img *ngIf="task.isComplete" src="assets\icons\confirm_white.svg" />
                                                </div>
                                                <textarea
                                                    [class]="activeStepId === step.id? 'new-text active' : 'new-small future'"
                                                    [(ngModel)]="task.text" autoResize defaultHeight="20px" disabled
                                                    #taskText></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons-and-recurring">
                                    <div class="edit-delete">
                                        <img class="icon-garbage-can-gray-blue" (click)="deleteStep(step)"
                                            *ngIf="!(project().paymentModel === paymentModelEnum.monthly && step.stepType === stepTypeEnum.payment)" />
                                        <img class="icon-pencil" (click)="openNewStepModal(step)" />
                                    </div>
                                    <div class="recurring-data-span new-small" *ngIf="step.isRecurring">
                                        <img class="cycle" />
                                        <span>חוזר כל{{step.recurringEvery && step.recurringEvery > 1?
                                            ' '+step.recurringEvery
                                            :
                                            ''}}&nbsp;</span>
                                        <span
                                            *ngIf="step.recurringDateType === recurringDateTypeEnum.day">{{(step.recurringEvery
                                            && step.recurringEvery > 1)? 'ימים' : 'יום'}}</span>
                                        <span
                                            *ngIf="step.recurringDateType === recurringDateTypeEnum.week">{{(step.recurringEvery
                                            && step.recurringEvery > 1)? 'שבועות' : 'שבוע'}} {{(step.recurringDaysInWeek
                                            &&
                                            step.recurringDaysInWeek.length > 1)? 'בימים' : 'ביום'}}
                                            {{getWeekDays(step.recurringDaysInWeek)}}</span>
                                        <span
                                            *ngIf="step.recurringDateType === recurringDateTypeEnum.month">{{(step.recurringEvery
                                            && step.recurringEvery > 1)? 'חודשים' : 'חודש'}}
                                            ב-{{step.recurringDayInMonth}}
                                            לחודש</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
            <div class="accordion">
                <span class="title" [ngClass]="{'opened': openedAccordion == 3}" (click)="clickOnAccordion(3)">משימות
                    שהסתיימו</span>
                <div class="content" [class]="(openedAccordion === 3) ? 'expanded' : 'collapsed'">
                    <div class="retainer-steps-finished" *ngIf="isRetainer" #stepsContainer>
                        <div [ngClass]="{'retainer-step-finished': step.id !== editStepId }"
                            *ngFor="let step of retainerFinishedSteps; let i = index"
                            (mouseenter)="hoverStep(step.id, i)" (mouseleave)="hoverStepId = undefined" #stepDiv>
                            <div *ngIf="editStepId !== step.id && animationHackFlag">
                                <div class="step-name-finished">
                                    <span class="new-text">{{step.name}}</span>
                                    <div (click)="changeStepStatus(step)"
                                        [style.pointer-events]="isReadOnly() ? 'none' : 'auto'">
                                        <img class="icon-confirm pointer" />
                                    </div>
                                </div>
                                <div [@expandCollapse]="(hoverStepId === step.id) ? 'expanded' : 'collapsed'"
                                    class="extra-not-finished">
                                    <span *ngIf="step.dateCompleted" class="new-small">הסתיים בתאריך:
                                        {{step.dateCompleted |
                                        date: 'dd/MM/yy' : 'UTC'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="notes" #notesDiv>
            <app-notes [project]="project"></app-notes>
        </div>
    </ng-container>
    <ng-container *ngIf="openNotesSignal()">
        <app-open-notes class="open-notes" [project]="project"></app-open-notes>
    </ng-container>
</div>