<form #stepForm="ngForm" (ngSubmit)="save(stepForm)">
    <div class="main common-border">
        <span class="title">{{isNewStep? 'עריכת שלב קיים' : 'הוספת שלב חדש'}}</span>
        <span class="sub-title">כותרת*</span>
        <input class="regular-input" [(ngModel)]="currentStep.name" type="text" required ngModel name="nameInput"
            #nameInput="ngModel" [class.invalid]="stepForm.invalid && nameInput.touched">
        <span class="sub-title">מה סוג השלב*</span>
        <select class="regular-input" [(ngModel)]="currentStep.stepType" name="stepType">
            <option class="regular-input" *ngFor="let step of stepTypes" [ngValue]="step">{{ stepTypeLabels[step] }}</option>
        </select>
        <span class="sub-title" *ngIf="currentStep.stepType === stepTypeEnum.payment">סכום*</span>
        <input class="regular-input" *ngIf="currentStep.stepType === stepTypeEnum.payment"
            [(ngModel)]="currentStep.price" name="price" type="number" step="any">
        <span class="sub-title">פירוט</span>
        <textarea class="big-text" [(ngModel)]="currentStep.description" name="description"></textarea>
        <button class="confirm" type="submit">{{isNewStep? 'עדכון' : 'יצירה'}}</button>
    </div>
</form>