@use '../../../mixins.scss' as mixins;

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tax-management-systems {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    .system {
        background-color: var(--home-color);
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
        @include mixins.regular-border;

        img {
            height: 24px;
        }

        &:hover {
            background-color: var(--hover-color);
        }
    }
}