<div>
  <div class="header">
    <div class="adler">
      <img class="logo" src="assets/ariel_logo.svg" />
      <span>
        אריאל אדלר, מעצב עסקים
      </span>
    </div>
    <div class="menu">
      <img class="menu" src="assets/hamburger_menu.svg" />
    </div>
  </div>
  <div class="body">
    <div class="right"></div>
    <div class="projects">
      <span class="active-projects"></span>
      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>פרויקטים פעילים</mat-panel-title>
          </mat-expansion-panel-header>
          <div><app-projects-list [projects]="projects"></app-projects-list></div>
        </mat-expansion-panel>
      
        <!-- <mat-expansion-panel style="box-shadow: none;">
          <mat-expansion-panel-header>
            <mat-panel-title>פרויקטים בהקפאה</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Content for section 2</p>
        </mat-expansion-panel> -->
      </mat-accordion>
      
    </div>
    <div class="tips">
      <span class="tips-title">טיפ שבועי</span>
      <div class="tips-text">טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ </div>
    </div>
  </div>
</div>