@import '@angular/material/prebuilt-themes/indigo-pink.css';

.animation-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99999;

    &.loading {
        background-color: var(--blur);
    }

    .animation {
        width: 10rem;
    }

    .finish-animation {
        align-self: flex-start;
        margin-top: 60px;
        height: calc(100vh - 65px);
    }
}