@use '../../../mixins.scss' as mixins;

.template {
    @include mixins.big-popup;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        width: 45rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: var(--common-radius);

        Form {
            height: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .header {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            width: 45rem;

            .title {
                font-family: 'black';
                font-size: var(--font-size-4);
            }

            .sub-title {
                font-family: 'regular';
                font-size: var(--font-size-1);
            }
        }

        .updates {
            margin-top: 2rem;

            .updates-title {
                font-family: 'black';
                font-size: var(--font-size-1);
            }

            li {
                font-family: 'regular';
            }
        }

        .line {
            display: flex;
            align-items: flex-end;

            .dates {
                display: flex;
                margin-left: 4rem;
                flex: 4;
                justify-content: space-between;

                .text-and-input {
                    flex: 0;
                    margin-left: 0;

                    div {
                        input {
                            width: 7rem;
                        }
                    }
                }
            }

            .text-and-input {
                display: flex;
                flex-direction: column;
                flex: 4;
                margin-left: 4rem;
                font-family: 'regular';
                font-size: var(--font-size-1);

                textarea,
                input {
                    margin-top: 0.2rem;
                    font-family: 'regular';
                    font-size: var(--font-size-2);
                }

                textarea {
                    height: 120px;
                }
            }

            .description {
                flex: 3;
                font-family: 'regular';
                font-size: var(--font-size-1);
            }
        }

        .confirm {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .confirm-button {
                border-radius: 26px;
                padding: 0.5rem 1rem 0.6rem;
                transition: all 0.3s;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'medium';
                font-size: var(--font-size-2);
                color: white;
                background-color: var(--main-color-not-active);

                img {
                    margin-left: 0.5rem;
                    align-self: center;
                }

                &:hover {
                    background-color: var(--main-color);
                }
            }
        }
    }
}