<div class="template" [style.height]="currentProgress === 1 ? '630px' : '430px'">
    <div class="main">
        <div class="progress-bar">
            <div class="progress-fill" [style.width.%]="(currentProgress/5)*100"></div>
        </div>
        <div class="step1" *ngIf="currentProgress === 1">
            <div class="header">
                <span class="new-h1">פרויקט חדש</span>
                <span class="new-small">איזה כיף! אתגר חדש בדרך</span>
            </div>
            <Form [formGroup]="firstForm">
                <div class="line">
                    <span class="new-text-bold">שם הפרויקט</span>
                    <span class="new-small">רוב המשתמשים מעדיפים לקרוא לפרויקט בשם הלקוח</span>
                    <input type="text" formControlName="projectName" class="new-text" />
                    <div class="error-container">
                        <span *ngIf="submitted && firstForm.get('projectName')?.errors" class="error">אנא
                            הזינו כותרת</span>
                    </div>
                </div>
                <div class="line">
                    <span class="new-text-bold">בריף קצר</span>
                    <span class="new-small">לא חובה, אבל כדאי. הבריף מוצג במיקום מרכזי במסך הפרויקט, ומטרתו לעזור לך
                        להיכנס לעניינים ולזכור את הדברים החשובים.</span>
                    <textarea formControlName="description" class="new-text"></textarea>
                </div>
                <div class="description new-small">
                </div>
            </Form>
        </div>

        <div class="step2" *ngIf="currentProgress === 2">
            <span class="new-h1">מבנה הפרויקט</span>
            <div class="project-types-container">
                <div class="project-type" (click)="chooseProjectType(projectTypeEnum.proccess)" (keydown.enter)="chooseProjectType(projectTypeEnum.proccess)" tabindex="0">
                    <img src="assets/icons/one_time_proccess.svg" />
                    <span class="new-text-bold">תהליך חד פעמי</span>
                    <span class="new-small">תהליך מסודר ובעל נקודת סיום</span>
                </div>
                <div class="project-type" (click)="chooseProjectType(projectTypeEnum.retainer)" (keydown.enter)="chooseProjectType(projectTypeEnum.retainer)" tabindex="0">
                    <img src="assets/icons/infinity.svg" />
                    <span class="new-text-bold">ליווי מתמשך</span>
                    <span class="new-small">ריטיינר, עבודה שוטפת או חזרתית</span>
                </div>
            </div>
        </div>

        <div class="step3" *ngIf="currentProgress === 3">
            <span class="new-h1">מודל התשלום</span>
            <div class="project-types-container">
                <div class="project-type" (click)="choosePaymentModel(paymentModelEnum.monthly)" (keydown.enter)="choosePaymentModel(paymentModelEnum.monthly)" tabindex="0">
                    <img src="assets/icons/calendar.svg" />
                    <span class="new-text-bold">תשלום חודשי</span>
                    <span class="new-small">בעל סכום ותאריך קבועים</span>
                </div>
                <div class="project-type" (click)="choosePaymentModel(paymentModelEnum.hourly)" (keydown.enter)="choosePaymentModel(paymentModelEnum.hourly)" tabindex="0">
                    <img src="assets/icons/clock.svg" />
                    <span class="new-text-bold">תשלום שעתי</span>
                    <span class="new-small">ספירת שעות בתעריף קבוע</span>
                </div>
            </div>
        </div>

        <div class="step4" *ngIf="currentProgress === 4">
            <div class="dates" *ngIf="project.projectType !== projectTypeEnum.retainer">
                <span class="new-h1">תאריכים</span>
                <span class="new-small">לא חובה, אבל מומלץ. תאריכים יסייעו לתכנון הזמן שלך בהמשך.</span>
                <div class="date-inputs">
                    <div class="text-and-input">
                        <span class="new-small">תאריך התחלה</span>
                        <div>
                            <input class="new-small" type="text" mask="00/00/00" [(ngModel)]="startDate"
                                placeholder="_ _/_ _/_ _" [dropSpecialCharacters]="false" />
                        </div>
                    </div>
                    <div class="text-and-input">
                        <span class="new-small">תאריך סיום</span>
                        <div>
                            <input class="new-small" type="text" mask="00/00/00" [(ngModel)]="endDate"
                                placeholder="_ _/_ _/_ _" [dropSpecialCharacters]="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-setting" *ngIf="project.projectType == projectTypeEnum.retainer">
                <span class="new-h1">הגדרת התשלום</span>
                <div class="hourly-text-and-input" *ngIf="project.paymentModel === paymentModelEnum.hourly">
                    <span class="new-small">מחיר שעתי (לא כולל מע"מ)</span>
                    <input type="number" class="new-small" [(ngModel)]="project.reccuringPayment" />
                    <span *ngIf="submitted && !project.reccuringPayment" class="error">אנא
                            הזינו סכום</span>
                </div>

                <div class="monthly" *ngIf="project.paymentModel === paymentModelEnum.monthly">
                    <div class="text-and-input">
                        <span class="new-small">הסכום לתשלום (לא כולל מע"מ)</span>
                        <input type="number" class="new-small" [(ngModel)]="project.reccuringPayment" tabindex="0"/>
                        <div class="error-container">
                        <span *ngIf="submitted && !project.reccuringPayment" class="error">אנא
                            הזינו סכום</span>
                    </div>
                    </div>

                    <div class="text-and-input">
                        <span class="new-small">תאריך לתשלום</span>
                        <select [(ngModel)]="project.monthlyPaymentDay" tabindex="0">
                            <option *ngFor="let day of daysInMonth" [value]="day">
                                {{ day }} לחודש
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="confirm" *ngIf="currentProgress !== 2 && currentProgress !== 3">
            <button class="confirm-button" (click)="submit()">
                <img src="assets/icons/confirm_white.svg" *ngIf="currentProgress === 4" />
                <span>{{currentProgress === 4 ? 'יצירת פרויקט' : 'המשך'}}</span>
            </button>
        </div>
    </div>
</div>