<div class="google-login">
    <img class="icon" src="assets/focus_logo.svg" />
    <div class="google new-h2" (click)="onGoogleSignInClick()">
        <span>התחבר באמצעות</span>
        <img src="assets/icons/google.svg" />
    </div>
    <div class="terms-and-conditions new-small">
        <span>השימוש בפוקוס מהווה אישור של</span>
        <span>&nbsp;</span>
        <span class="link" (click)="goToTermsAndConditions()">תנאי השימוש</span>
        <span>&nbsp;</span>
        <span>ו</span>
        <span class="link" (click)="goToPrivacyPolicy()">מדיניות הפרטיות</span>
    </div>
</div>