@use '../../../mixins.scss' as mixins;

.main {
    width: 24rem;
    box-shadow: var(--common-shadow);
    background-color: var(--default-white);
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .whatsapp-div {
        margin-top: 1rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        .whatsapp {
            @include mixins.confirm-button;
        }
    }
}