<div class="main">
    <div class="header">
        <img src="assets/icons/coffee_beans.svg" />
        <span class="new-h1">סליחה,</span>
    </div>
    <span class="new-text">
        המערכת נתקלה בתקלה כלשהי.
        זה יכול להיות קשור למשהו שעשיתם או סתם ככה, כי תקלות קורות.
        אפשר לרענן את המסך ולנסות שוב.
        <br />
        <br />
        נשמח לקבל עדכון ולעזור:
    </span>
    <div class="whatsapp-div" (click)="openWhatsapp()">
        <div class="whatsapp">
            <span>פנייה בוואטסאפ</span>
        </div>
    </div>
</div>