.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;

    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        img {
            margin-top: 5px;
        }
    }

    .links {
        width: 360px;
    }

    .notes {
        flex: 1;
    }

    .chat {
        width: 360px;

        .chat-component {
            height: 100%;
            overflow: auto;
            margin-bottom: 50px;
            display: block;
        }
    }
}