<div class="main" [ngClass]="{'show-notes': notesPopup}">
    <div class="header" *ngIf="!notesPopup">
        <span class="pointer" [class.selected]="notesSelected" (click)="notesSelected = true">רשימות וסיכומים</span>
        <span class="pointer" [class.selected]="!notesSelected" (click)="notesSelected = false">קישורים</span>
        <img class="pointer icon-expand" (click)="showNotes()"/>
    </div>
    <ng-container *ngIf="notesSelected && !notesPopup; then editorTemplate; else linksTemplate"></ng-container>
</div>

<ng-template #editorTemplate>
    <div class="lists">
        <app-rich-text [project]="project" style="height: 100%;"></app-rich-text>
    </div>
</ng-template>

<ng-template #linksTemplate>
    <div class="links" [ngClass]="{'padding-links': notesPopup}">
        <div *ngIf="notesPopup" class="links-header">
            <span>קישורים</span>
        </div>
        <div class="link" *ngFor="let link of project?.links" #link (mouseenter)="hoverLink(link)"
            (mouseleave)="leaveLink()">
            <div class="pointer">
                <span (click)="openLink(link.url)">{{link.name}}</span>
                <img [src]="`/assets/icons/${hoveredLink === link? 'link_yes' : 'link_not'}.svg`"
                    (click)="openLink(link.url)" />
            </div>
            <img class="icon-garbage-can pointer" *ngIf="hoveredLink === link" (click)="deleteLink(link)" />
        </div>
        <div class="add-link">
            <span class="pointer" (click)="addingNewLink = true; resetLinkForm()" *ngIf="!addingNewLink">+ קישור
                חדש</span>
        </div>
        <form class="new-link" *ngIf="addingNewLink" [formGroup]="form" #newLinkDiv>
            <span class="title">קישור חדש</span>
            <div class="text-and-input">
                <span>שם</span>
                <input type="text" formControlName="name">
                <div class="error-container">
                    <span *ngIf="submitted && form.get('name')?.errors" class="error">אנא הזינו שם</span>
                </div>
            </div>
            <div class="text-and-input">
                <span>קישור</span>
                <input type="text" formControlName="url">
                <div class="error-container">
                    <span *ngIf="submitted && form.get('url')?.errors" class="error">אנא הזינו קישור</span>
                </div>
            </div>
            <div class="confirm">
                <img class="icon-confirm-circle pointer" (click)="addLink()" />
            </div>
        </form>
    </div>
</ng-template>