<div class="main">
    <div class="header">
        <span class="new-h2">{{isPaymentModelHourly? 'היסטוריית שעות עבודה' : 'היסטוריית תשלומים'}}</span>
        <span class="new-small">כל הסכומים אינם כוללים מע״מ</span>
    </div>
    <div class="payments-table">
        <div class="grid-container">
            <div class="header-row">
                <div class="new-small-bold">שם התשלום</div>
                <div class="new-small-bold">{{isPaymentModelHourly? 'שעות שבוצעו' : 'סוג'}}</div>
                <div class="new-small-bold">סכום</div>
                <div class="new-small-bold">תאריך</div>
                <div class="new-small-bold"></div>
            </div>
        </div>
        <div class="line"></div>

        <div *ngFor="let payment of payments" class="grid-container">
            <div class="data-row">
                <div class="new-small">{{ payment.name }}</div>
                <div class="new-small">{{ isPaymentModelHourly? (getHourlyWorkSession(payment).workTime | date:
                    'HH:mm:ss') : getretainerPaymentText(getRetainerPayment(payment).type) }}</div>
                <div class="new-small">{{ payment.price }} ₪</div>
                <div class="new-small">{{ payment.date | date: 'dd.MM.yyyy' }}</div>
                <div class="garbage-can">
                    <img class="icon-garbage-can-gray-blue pointer" (click)="deletePayment(payment)" />
                </div>
            </div>
            <div class="line"></div>
        </div>
        <div class="grid-container">
            <div class="data-row">
                <div class="new-small-bold">סה"כ</div>
                <div></div>
                <div class="new-small-bold">{{getTotalPayments()}} ₪</div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>