<div class="main">
    <div class="summurize">
        <div class="info">
            <div class="text-and-icon">
                <span class="title">{{project?.name}}</span>
                <img class="pointer icon-expand" />
            </div>
            <span class="sub-title">מה זו כותרת משנית?</span>
            <span class="description">
                {{project?.description}}
            </span>
            <div class="dates">
                <div class="cell date-heaeder">תאריך התחלה</div>
                <div class="cell date-heaeder">תאריך סיום</div>
                <div class="cell date-value">{{project?.startDate | date: 'dd.MM.yyyy'}}</div>
                <div class="cell date-value">{{project?.endDate | date: 'dd.MM.yyyy'}}</div>
            </div>
            <div class="update-client">
                <div class="toggle-switch" [class.on]="project?.updateClient" (click)="updateCient()">
                    <div class="switch-thumb"></div>
                </div>
                <span>הלקוח/ה {{project?.updateClient? '' : ' לא'}} מקבל/ת עדכונים על התקדמות ושינויים</span>
            </div>
        </div>
        <div class="price">
            <div class="text-and-icon">
                <span class="title">מחיר (לא כולל מע"מ)</span>
                <img class="icon icon-info" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                    matTooltip="אם מחיר הפרויקט משתנה, כל מה שצריך לעשות הוא לשנות את הסכומים בשלבי התשלום (או להוסיף תשלום חדש). המחיר הכולל יתעדכן בהתאם." />
            </div>
            <span class="base-price">{{project?.basePrice | number}} ₪</span>
            <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="((project?.paidMoney??0)/(project?.basePrice??1))*100">
                </div>
            </div>
            <div class="paid-remain">
                <div class="paid">
                    <span class="title">שולם</span>
                    <span class="value">{{project?.paidMoney | number}} ₪</span>
                </div>
                <div class="remain">
                    <span class="title">נשאר לתשלום</span>
                    <span class="value">{{(project?.basePrice??0)-(project?.paidMoney??0) | number}} ₪</span>
                </div>
            </div>
        </div>
        <div class="time">
            <div class=" text-and-icon">
                <span>זמן מצטבר מוערך</span>
                <img class="icon icon-info" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                    matTooltip="השעון הזה מודד את סך הזמן שבו עמוד הפרויקט פתוח, גם אם עברת לעשות דברים אחרים. הוא יכול לתת לך הערכה של זמן העבודה שלך, אם תקפיד/י להשאיר אותו פתוח במקביל לעבודה על הפרויקט ולסגור אותו כשסיימת לעבוד.חשוב: מדובר בהערכה בלבד ולא בשעות מדויקות לצורך חיוב ותשלום." />
            </div>
            <span class="hours">{{((project?.totalWorkingTime??0)/3600000).toFixed(1)}} שעות</span>
        </div>
    </div>
    <div class="steps">
        <div [class]="step.isComplete? 'finished' : 'not-finished'" #stepDiv
            [ngClass]="{'step' : editStepId !== step.id, 'active-step': step.id === activeStepId && step.id !== editStepId}" *ngFor="let step of project?.steps"
            (mouseenter)="hoverStepId = step.id" (mouseleave)="hoverStepId = undefined">
            <div *ngIf="editStepId !== step.id">
                <div class="step-header">
                    <span [ngClass]="{'step-name': step.id !== activeStepId}">{{step.name}}</span>
                    <img class="pointer icon-confirm" (click)="changeStepStatus(step)" *ngIf="step.isComplete" />
                    <img src="assets/icons/working.svg" *ngIf="!step.isComplete" />
                </div>
                <div class="extra" [@expandCollapse]="(hoverStepId === step.id) ? 'expanded' : 'collapsed'"
                    *ngIf="step.isComplete">
                    הסתיים בתאריך {{step.dateCompleted | date: 'dd.MM.yyyy'}}
                </div>
                <div [@expandCollapse]="(hoverStepId === step.id || activeStepId === step.id) ? 'expanded' : 'collapsed'"
                    class="extra extra-not-finished" *ngIf="!step.isComplete">
                    <span>{{step.description}}</span>
                    <span>סיום משוער: {{step.dateDue | date: 'dd.MM.yyyy'}}</span>
                    <div class="step-icons">
                        <div class="edit-delete">
                            <img class="icon-garbage-can" (click)="deleteStep(step)" />
                            <img class="icon-pencil" (click)="editStep(stepDiv, step.id)" />
                        </div>
                        <img class="icon-confirm-circle" (click)="changeStepStatus(step)" />
                    </div>
                </div>
            </div>
            <div *ngIf="editStepId === step.id">
                <app-new-step class="new-step" [steptInput]="step" (stepsEmitter)="updateStep($event)"></app-new-step>
            </div>
        </div>
        <div class="add-step" *ngIf="!isShowNewStep">
            <img (click)="showNewStep()" class="icon-plus" />
        </div>
        <div *ngIf="isShowNewStep" #newStepDiv>
            <app-new-step class="new-step" (stepsEmitter)="createNewStep($event)"></app-new-step>
        </div>
    </div>
    <div class="notes"></div>
</div>