.main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .summurize {
        margin: 2rem 1rem;
        flex: 3;
        display: flex;
        flex-direction: column;

        .dates-and-payment {
            flex: 4;
            margin-bottom: 1.5rem;

            .project-title {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;

                .title {
                    font-size: var(--font-size-xl);
                    font-weight: bolder;
                }

                .description {
                    font-weight: bold;
                }
            }

            .grid-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 10px;
            }

            .grid-item {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: flex-start;
                margin-bottom: 1rem;

                .sub-title {
                    font-size: var(--font-size-sm);
                    ;
                }

                .date {
                    font-size: var(--font-size-lg);
                    ;
                    font-weight: bolder;
                }
            }
        }

        .links {
            flex: 3;
        }
    }

    .tasks {
        overflow-y: auto;
        flex: 5;
        margin: 2rem 1rem;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .task {
            width: 40%;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            .task-name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .icons {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;

                    .icon {
                        margin-left: 1rem;
                    }
                }
            }

            .confirm {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .task.finished {
            height: 4rem;
            font-weight: bold;
            font-size: var(--font-size-xl);
            margin-bottom: 1rem;
        }

        .task.not-finished {
            height: 2rem;
            padding: 1rem;
        }

        .add-task {
            display: flex;
            justify-content: center;
            font-weight: bolder;
            align-items: center;

            span {
                cursor: pointer;
                font-size: var(--font-size-huge);
                display: flex;
                justify-content: center;
                font-weight: bolder;
                align-items: center;
                color: var(--frame-color);
                background-color: white;
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
                border: solid 3px var(--frame-color);
            }

            span:hover {
                color: white;
                background-color: var(--frame-color);
            }
        }
    }

    .notes {
        flex: 3;
        margin: 2rem 1rem;
    }

    .icon {
        height: 1.5rem;
    }
}