@use '../../mixins.scss' as mixins;

.main {
    height: 100%;
    // padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--home-color);

    .pointer {
        cursor: pointer;
    }

    .summurize {
        width: 360px;
        display: flex;
        height: var(--big-window-height);
        flex-direction: column;
        justify-content: space-between;

        .text-and-icon {
            display: flex;
            justify-content: space-between;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-family: 'black';
                font-size: var(--font-size-5);
                z-index: 2;
            }

            .sub-title {
                font-family: 'black';
                font-size: var(--font-size-2);
                z-index: 2;
            }

            .description {
                margin: 2rem 0;
                font-family: 'regular';
                font-size: var(--font-size-1);
            }

            .dates {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 2fr;
                gap: 10px;

                .cell {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                .date-heaeder {
                    font-size: var(--font-size-1);
                    font-family: 'medium';
                }

                .date-value {
                    font-size: var(--font-size-3);
                    font-family: 'black';
                }
            }

            .update-client {
                display: flex;
                margin-top: 1rem;

                span {
                    margin-right: 1rem;
                    font-family: 'medium';
                    font-size: var(--font-size-1);
                }
            }
        }

        .price {
            .title {
                display: flex;
                flex-direction: column;
                font-family: 'regular';
                font-size: var(--font-size-1);
            }

            .base-price {
                font-family: 'black';
                font-size: var(--font-size-3);
            }

            .progress-bar {
                margin: 1rem 0;
            }

            .paid-remain {
                display: flex;
                justify-content: space-between;

                .paid,
                .remain {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    font-size: var(--font-size-1);
                    font-family: 'medium';

                    .title {
                        color: var(--disabled-text);
                    }
                }
            }
        }

        .time {
            span {
                font-size: var(--font-size-1);
                font-family: 'regular';
            }

            .hours {
                font-family: 'black';
                font-size: var(--font-size-3);
            }
        }
    }

    .summurize.show-before::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--blur);
        z-index: 1;
        pointer-events: none;
    }

    .steps {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: var(--big-window-height);
        overflow: auto;

        .step {
            @include mixins.step
        }

        .add-step {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .new-step {
            margin: 2rem;
            display: flex;
            width: 400px;
        }
    }

    .rich-text {
        height: var(--big-window-height);
        padding: 2rem;
        @include mixins.big-popup;
        z-index: 2;
    }

    .notes {
        z-index: 2;
        width: 360px;
        height: var(--big-window-height);
    }

    .icon {
        height: 1.5rem;
    }
}

.cdk-drag-preview {
    @include mixins.step;
}
