.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--home-color);

    .pointer {
        cursor: pointer;
    }

    .summurize {
        margin: 0 1rem;
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text-and-icon {
            display: flex;
            justify-content: space-between;

            img {
                cursor: pointer;
            }
        }

        .info {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-family: 'black';
                font-size: var(--font-size-5);
            }

            .sub-title {
                font-family: 'black';
                font-size: var(--font-size-2);
            }

            .description {
                margin: 2rem 0;
                font-family: 'regular';
                font-size: var(--font-size-1);
            }
            
            .dates {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 2fr;
                gap: 10px;
    
                .cell {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
    
                .date-heaeder {
                    font-size: var(--font-size-1);
                    font-family: 'medium';
                }
    
                .date-value {
                    font-size: var(--font-size-3);
                    font-family: 'black';
                }
            }

            .update-client {
                display: flex;
                margin-top: 1rem;
                span {
                    margin-right: 1rem;
                    font-family: 'medium';
                    font-size: var(--font-size-1);
                }
            }
        }

        // .dates-and-payment {
        //     flex: 4;
        //     margin-bottom: 1.5rem;

        //     .project-title {
        //         display: flex;
        //         flex-direction: column;
        //         margin-bottom: 2rem;

        //         .title {
        //             font-size: var(--font-size-xl);
        //             font-weight: bolder;
        //         }

        //         .description {
        //             font-weight: bold;
        //         }
        //     }

        //     .grid-container {
        //         display: grid;
        //         grid-template-columns: repeat(2, 1fr);
        //         grid-template-rows: repeat(2, 1fr);
        //         gap: 10px;
        //     }

        //     .grid-item {
        //         display: flex;
        //         flex-direction: column;
        //         align-items: start;
        //         justify-content: flex-start;
        //         margin-bottom: 1rem;

        //         .sub-title {
        //             font-size: var(--font-size-sm);
        //             ;
        //         }

        //         .date {
        //             font-size: var(--font-size-lg);
        //             ;
        //             font-weight: bolder;
        //         }
        //     }
        // }

        // .links {
        //     flex: 3;
        // }
    }

    .steps {
        overflow-y: auto;
        flex: 5;
        margin: 2rem 1rem;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .step {
            width: 35%;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            .step-name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .icons {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;

                    .icon {
                        margin-left: 1rem;
                    }
                }
            }

            .confirm {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .step.finished {
            font-weight: bold;
            font-size: var(--font-size-xl);
            margin-bottom: 1rem;
        }

        .step.not-finished {
            height: 2rem;
            padding: 1rem;
        }

        .add-step {
            display: flex;
            justify-content: center;
            font-weight: bolder;
            align-items: center;

            span {
                font-size: var(--font-size-huge);
                display: flex;
                justify-content: center;
                font-weight: bolder;
                align-items: center;
                border-radius: 50%;
                width: 3rem;
                height: 3rem;

                &.disable {
                    background-color: rgb(241, 226, 226);
                    color: var(--frame-color-disable);
                    border: solid 3px var(--frame-color-disable);
                    cursor: default;
                }

                &.enable {
                    color: var(--main-color);
                    border: solid 3px var(--main-color);
                    cursor: pointer;
                    transition: all 0.3s;
                    background-color: white;

                    &:hover {
                        color: white;
                        background-color: var(--main-color);
                    }
                }
            }

        }
    }

    .notes {
        flex: 3;
        margin: 0 1rem;
        background-color: white;
        border-radius: 12px;
        height: 100%;
    }

    .icon {
        height: 1.5rem;
    }
}