<div class="main">
    <div class="summurize">
        <div class="dates-and-payment common-border">
            <div class="project-title">
                <span class="title">{{project()?.name}}</span>
                <span class="description">{{project()?.description}}</span>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <span class="sub-title">תאריך התחלה</span>
                    <span class="date">{{project()?.startDate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="grid-item">
                    <span class="sub-title"> תאריך סיום (משוער)</span>
                    <span class="date">{{project()?.endDate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="grid-item">
                    <span class="sub-title">שולם (ללא מע"ם)</span>
                    <span class="date">{{calculatePrice() | number}}₪</span>
                </div>
                <div class="grid-item">
                    <span class="sub-title">לתשלום (ללא מע"ם)</span>
                    <span class="date">{{(project()?.basePrice ?? 0) - (calculatePrice() ?? 0) | number}}₪</span>
                </div>
            </div>
            <div class="auto-updates">
                הלקוח מקבל עדכונים אוטומטיים
            </div>
        </div>
        <div class="links common-border"></div>
    </div>
    <div class="steps common-border">
        <div class="step" [ngClass]="!step.isComplete? 'common-border finished' : 'not-finished'"
            *ngFor="let step of project()?.steps">
            <div class="step-name">
                <span>{{step.name}}</span>
                <div class="icons" *ngIf="!step.isComplete">
                    <img class="icon" [ngClass]="{pointer: !isReadOnly}" (click)="isReadOnly? '' : showDeleteStepModal(step)" src="assets/garbage_can.svg">
                    <img class="icon" [ngClass]="{pointer: !isReadOnly}" (click)="isReadOnly? '' : openStepModal(step)" src="assets/pencil.svg">
                </div>
            </div>
            <div class="confirm">
                <img class="icon" [ngClass]="{pointer: !isReadOnly}" (click)="isReadOnly? '' : changeStepStatus(step)" src="assets/confirm.svg" />
            </div>
        </div>
        <div class="add-step">
            <span [ngClass]="isReadOnly? 'disable' : 'enable'" (click)="isReadOnly? '' : openStepModal()">+</span>
        </div>
    </div>
    <div class="notes common-border"></div>
</div>