<div class="main">
    <div class="summurize">
        <div class="dates-and-payment common-border">
            <div class="project-title">
                <span class="title">{{project()?.name}}</span>
                <span class="description">{{project()?.description}}</span>
            </div>
            <div class="grid-container">
                <div class="grid-item">1</div>
                <div class="grid-item">2</div>
                <div class="grid-item">3</div>
                <div class="grid-item">4</div>
            </div>
            <div class="auto-updates">
                הלקוח מקבל עדכונים אוטומטיים
            </div>
        </div>
        <div class="links common-border"></div>
    </div>
    <div class="tasks common-border"></div>
    <div class="notes common-border"></div>
</div>