@use '../../../mixins.scss' as mixins;

.links {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 7px 20px;
    box-sizing: border-box;

    .links-header {
        margin-bottom: 1rem;
    }

    .link {
        align-items: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        background-color: var(--default-white);
        box-shadow: var(--common-shadow);
        border-radius: var(--common-radius);
        padding: 8px 15px 10px;

        .icon-garbage-can {
            height: 14px;
            width: 12px;
        }

        span {
            cursor: pointer;
            margin-left: 0.5rem;

        }

        &:hover {
            color: var(--main-color);
        }
    }

    .add-link {
        display: flex;
        justify-content: center;

        span {
            border-radius: var(--common-radius);
            padding: 0.2rem 1rem 0.4rem;
            background-color: var(--hover-color);

            &:hover {
                color: var(--default-white);
                background-color: var(--main-color);
            }
        }
    }

    .new-link {
        @include mixins.regular-border;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;

        .title {
            margin-bottom: 20px;
        }

        .text-and-input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;

            .small-text {
                margin-bottom: 4px;
            }

            input {
                background-color: transparent;
                @include mixins.regular-border;
            }
        }

        .confirm {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}