<div class="main" #newTaskDiv [ngClass]="{'border': isShowNewStep}" (mousedown)="mouseDownInside = true">
    <div class="button" *ngIf="!isShowNewStep">
        <img (click)="startNewTask()" class="icon-plus" />
    </div>
    <div *ngIf="isShowNewStep" class="new-task">
        <span class="new-small">{{isEdit? 'עריכת משימה' : 'משימה חדשה'}}</span>
        <textarea class="new-small" [(ngModel)]="newTask.text" tabindex="0" #taskText></textarea>
        <img class="icon-confirm-circle" (click)="createTask()" tabindex="0" />
    </div>
</div>