<div class="main">
    <div class="insight">
        <div class="header">
            <span>
                תובנה יומית
            </span>
            <img src="assets/icons/light_bulb.svg"/>
        </div>
        <span class="text">{{insight.text}}</span>
    </div>
    <div class="updates">
        <div class="header">
            <span>
                פיצ׳רים ותיקונים קרובים
            </span>
            <img src="assets/icons/stars.svg"/>
        </div>
        <div class="text">
            <ul>
                <li *ngFor="let feature of features">{{feature.text}}</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="text">
            <span>אנחנו כאן</span>
            <span>ונשמח לסייע בבעיות או לקבל פידבק. זו רק לחיצה אחת :)</span>
        </div>
        <img src="assets/icons/whatsapp.svg"/>
    </div>
</div>