<div class="main">
    <div class="insight">
        <div class="header">
            <span>
                תובנה יומית
            </span>
            <img src="assets/icons/light_bulb.svg"/>
        </div>
        <span class="text">הרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסטהרבה טקסט</span>
    </div>
    <div class="updates">
        <div class="header">
            <span>
                פיצ׳רים ותיקונים קרובים
            </span>
            <img src="assets/icons/stars.svg"/>
        </div>
        <div class="text">
            <ul>
                <li *ngFor="let feature of features">{{feature}}</li>
            </ul>
        </div>
    </div>
    <!-- <div class="contact"></div> -->
</div>