<div class="main" [class.shadow-and-background]="false">
    <div class="toolbar" *ngIf="!isReadOnly()">
        <img class="icon-ordered-list pointer" (click)="toggleOrderedList()" />
        <img class="icon-bullet-list pointer" (click)="toggleBulletList()" />
        <img class="icon-bold pointer" (click)="toggleBold()" />
        <img class="icon-paragraph pointer" (click)="toggleParagraph()" />
        <img class="icon-h3 pointer" (click)="setHeading(3)" />
        <img class="icon-h2 pointer" (click)="setHeading(2)" />
        <img class="icon-h1 pointer" (click)="setHeading(1)" />
    </div>
    <ngx-editor class="editor new-text shadow-and-background" [ngClass]="{ 'big-fonts': expanded}"
        (ngModelChange)="editorChanged($event)" [editor]="editor" [formControl]="editorControl"
        placeholder="הקלד כאן..."></ngx-editor>
</div>