@use '../../../mixins.scss' as mixins;

.main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .dates-navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        span {
            cursor: pointer;
        }
    }

    .calendar {
        flex: 3;
        display: flex;
        justify-content: space-between;
        min-height: 0;

        .day-container {
            flex: 1;
            display: flex;

            .weekly-day {
                border-right: 1px solid;
                width: 100%;

                .day-header {
                    display: flex;
                    margin: 0 20px;
                    justify-content: space-between;
                }

                .tasks-list-container {
                    padding: 0 20px;
                    height: 100%;
                    overflow-y: auto;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    .tasks-list {
                        min-height: 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        height: auto;

                        .weekly-day-task {
                            width: 100%;
                        }
                    }

                    .new-task {
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                    }
                }
            }

            &:first-child .weekly-day {
                border-right: none;
            }
        }
    }

    .unAssignTasks {
        margin-top: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;

        .line {
            width: 100%;
            height: 1px;
            background-color: var(--border-color);
            margin-top: 25px;
            margin-bottom: 5px;
        }

        .header {
            margin-right: 26px;

            .new-small {
                cursor: pointer;
                color: var(--default-gray);
                margin-right: 30px;
            }
        }

        .tasks-list {
            gap: 15px;
            padding: 15px;
            display: flex;
            flex-flow: column wrap;
            align-content: flex-start;
            overflow-x: auto;
        }

        .project-tasks {
            gap: 15px;
            padding: 15px;
            display: flex;
            overflow-x: auto;

            .project-task>[cdkDropList] {
                display: flex;
                flex-direction: column;
                gap: 15px; // vertical gap between .task items
            }
        }
    }
}

.task {
    .task-header {
        display: flex;
        align-items: center;
        color: var(--default-gray);

        img {
            height: 12px;
            width: 12px;
            margin-left: 5px;
        }
    }

    padding: 10px;
    box-sizing: border-box;
    box-shadow: var(--common-shadow);
    width: var(--task-width);
    background-color: var(--default-white);
    border-radius: var(--common-radius);
}

.cdk-drag-preview {
    margin-top: 10px;

    .buttons {
        height: 0;
        display: none;
    }
}

.cdk-drag-placeholder {
    opacity: 0 !important;
    width: 1px; // its invisible, so i only need it as a place holder
}

.gray-text {
    color: var(--default-gray);
}

.dragging-in {
    opacity: 0.3;
}