<div class="main">
    <div class="dates-navigation">
        <span (click)="prevWeek()" class="new-small-bold">&lt; לשבוע הקודם</span>
        <span (click)="nextWeek()" class="new-small-bold">לשבוע הבא ></span>
    </div>
    <div class="calendar">
        <div *ngFor="let day of presentedDays; let i = index" class="day-container">
            <div class="weekly-day">
                <div class="day-header new-text"
                    [ngClass]="{'new-text': !compareDates(day.date), 'new-text-bold': compareDates(day.date)}">
                    <span>{{ (day.date) | date: 'dd/MM' }}</span>
                    <span>{{getHebrewDay(day.date)}}</span>
                </div>
                <div class="tasks-list-container">
                    <div class="tasks-list" cdkDropList [cdkDropListData]="day.tasks" [id]="'day-' + i"
                        [cdkDropListConnectedTo]="allDropListIds" (cdkDropListDropped)="dropTask($event, day.date)">
                        <div class="task" *ngFor="let task of presentedDays[i].tasks" cdkDrag>
                            <div class="task-header new-small">
                                <img src="assets/icons/star_full.svg" *ngIf="task.project?.isPriority" />
                                <span>{{task.project?.name}}</span>
                            </div>
                            <span class="new-small">{{getTextForTask(task)}}</span>
                            <div class="buttons">
                                <img class="icon-expand" *ngIf="task.step" (click)="openProject(task.project)"/>
                                <img class="icon-confirm-circle"/>
                            </div>
                        </div>
                    </div>
                    <div class="new-task">
                        <app-new-task (createNewTask)="createNewTask($event, day)"></app-new-task>
                    </div>
                </div>
            </div>
            <div class="line"
                [ngStyle]="{'background-color': (compareDates(day.date) || compareDates(day.date, undefined, 1)) ? 'var(--default-black)' : 'var(--border-color)'}"
                *ngIf="i < 6"></div>
        </div>
    </div>
    <div class="unAssignTasks">
        <div class="line"></div>
        <div class="header">
            <span class="new-h2">משימות לשיבוץ</span>
            <span class="new-small">הצגת כל המשימות</span>
        </div>
        <div class="tasks-list" cdkDropList id="unAssigned" [cdkDropListData]="tasksWithoutDate"
            [cdkDropListConnectedTo]="allDropListIds" (cdkDropListDropped)="dropTask($event)"
            cdkDropListOrientation="mixed">
            <div class="task" *ngFor="let task of tasksWithoutDate" cdkDrag>
                <div class="task-header new-small">
                    <img src="assets/icons/star_full.svg" *ngIf="task.project?.isPriority" />
                    <span>{{task.project?.name}}</span>
                </div>
                <span class="new-small">{{getTextForTask(task)}}</span>
            </div>
        </div>
    </div>
</div>