<div class="projects-container">
    <div>
        <div class="projects-list">
            <div class="tab" [class.active]="selectedStatus === projectStatusEnum.active"
                (click)="selectProjectStatus(projectStatusEnum.active)">פרויקטים פעילים</div>
            <div class="tab" [class.active]="selectedStatus === projectStatusEnum.frozen"
                (click)="selectProjectStatus(projectStatusEnum.frozen)">פרויקטים בהקפאה</div>
            <div class="tab" [class.active]="selectedStatus === projectStatusEnum.finished"
                (click)="selectProjectStatus(projectStatusEnum.finished)">פרויקטים שהסתיימו</div>
        </div>
        <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="project-drag" *ngFor="let project of selectedProjects; let i = index" cdkDrag>
                <div class="project" (click)="selectProject(project)">
                    <img class="priority" (click)="togglePriority($event, project)"
                        [src]="`assets/icons/${project.isPriority?'star_full' :'star_empty'}.svg`" />
                    <div class="project-description">
                        <span class="disabled-text">
                            {{project.name}}
                        </span>
                        <span>
                            {{project.description}}
                        </span>
                    </div>
                    <div class="current-step">
                        <span class="disabled-text">
                            שלב נוכחי
                        </span>
                        <span>
                            {{getCurrentStep(project)?.name}}
                        </span>
                    </div>
                    <div class="payment">
                        <span class="disabled-text">
                            נשאר לתשלום
                        </span>
                        <span>
                            {{getPaidMoney(project)}} מתוך {{project.paidMoney}} ₪
                        </span>
                    </div>
                    <div class="progress">
                        <span>{{getProjectProgress(project) | number:'1.0-0'}}%</span>
                        <div class="progress-bar">
                            <div class="progress-fill" [style.width.%]="getProjectProgress(project)"></div>
                        </div>
                    </div>
                    <div class="menu" (click)="$event.stopPropagation()">
                        <img class="menu" [src]="'assets/icons/'+ (hoveredMenuIndex === i? 'kabab_menu_yes.svg' : 'kabab_menu_not.svg')" [matMenuTriggerFor]="menu" (mouseenter)="hoveredMenuIndex = i"
                        (mouseleave)="hoveredMenuIndex = undefined"/>
                        <mat-menu #menu="matMenu" class="pointer">
                            <button mat-menu-item
                                (click)="changeProjectStatus(project, projectStatusEnum.active)">פעיל</button>
                            <button mat-menu-item
                                (click)="changeProjectStatus(project, projectStatusEnum.frozen)">מוקפא</button>
                            <button mat-menu-item
                                (click)="changeProjectStatus(project, projectStatusEnum.finished)">הסתיים</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="add-project">
                + פרויקט חדש
            </div>
        </div>
    </div>
</div>