.projects-container {
    height: var(--big-window-height);
    overflow: auto;

    .disabled-text {
        color: var(--disabled-text);
    }

    .pointer {
        cursor: pointer;
    }

    .projects-list {
        display: flex;

        .tab {
            cursor: pointer;
            margin: 0.5rem 1rem;
            color: var(--disabled-text);
            font-family: 'medium';
            font-size: var(--font-size-1);
        }

        .tab.active {
            color: black;
        }
    }

    .line {
        display: flex;
        justify-content: center;
        align-items: center;

        .add-project {
            text-align: center;
            margin-top: 1rem;
            background-color: var(--main-color-not-active);
            color: white;
            border-radius: 26px;
            padding: 0.5rem 1rem;
            transition: all 0.3s;
            font-size: var(--font-size-2);
            font-family: 'regular';

            &:hover {
                cursor: pointer;
                background-color: var(--main-color);
            }
        }
    }
}

.clear-opacity {
    position: relative;
    z-index: 10;
}

.project-drag {
    overflow: hidden;

    .project,
    .cdk-drag-preview {
        font-family: '';
        cursor: pointer;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--common-radius);
        box-shadow: var(--common-shadow);
        margin: 0.5rem;
        padding: 0.7rem;

        .priority {
            height: 60%;
        }

        .project-description {
            display: flex;
            flex-direction: column;
            min-width: 0;

            .project-name {
                font-family: 'black';
                font-size: var(--font-size-2);
            }
        }

        .current-step {
            display: flex;
            flex-direction: column;
        }

        .payment {
            display: flex;
            flex-direction: column;
        }

        .menu {
            display: flex;
            justify-content: flex-end;
        }

        .disabled-text {
            color: var(--disabled-text);
            font-family: 'medium';
            font-size: var(--font-size-1);
        }

        .small-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'medium';
            font-size: var(--font-size-1);
        }
    }
}

.cdk-drag-preview {
    margin: 0 1rem;
    padding: 0 1rem;
    opacity: 0.8;
}