.projects-container {
    height: 85vh;
    overflow: auto;

    .disabled-text {
        color: var(--disabled-text);
    }

    .pointer {
        cursor: pointer;
    }

    .projects-list {
        display: flex;
        .tab {
            cursor: pointer;
            margin: 0.5rem 1rem;
            color: var(--disabled-text);
            font-family: 'medium';
            font-size: var(--font-size-1);
        }

        .tab.active {
            color: black;
        }
    }

    .line {
        display: flex;
        justify-content: center;
        align-items: center;

        .add-project {
            margin-top: 1rem;
            background-color: var(--main-color-not-active);
            color: white;
            border-radius: 16px;
            padding: 0.2rem 0.5rem;
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                background-color: var(--main-color);
            }
        }
    }
}

.project-drag {
    overflow: hidden;
    .project,
    .cdk-drag-preview {
        cursor: pointer;
        background-color: white;
        display: grid;
        grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr 0.5fr;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.214);
        margin: 0.5rem;
        padding: 0.7rem;

        .priority {
            height: 60%;
        }

        .project-description {
            display: flex;
            flex-direction: column;
        }

        .current-step {
            display: flex;
            flex-direction: column;
        }

        .payment {
            display: flex;
            flex-direction: column;
        }

        .progress {
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-end;
            // width: 3rem;

            .progress-bar {
                width: 3rem;
                height: 0.5rem;
                background-color: var(--unfilled-progress-color);
                border-radius: 4px;
                overflow: hidden;
            }

            .progress-fill {
                height: 100%;
                background-color: var(--frame-color);
                transition: width 0.3s ease;
            }
        }

        .menu {
            display: flex;
            justify-content: flex-end;
        }

        .disabled-text {
            color: var(--disabled-text);
        }
    }
}

.cdk-drag-preview {
    margin: 0 1rem;
    padding: 0 1rem;
    opacity: 0.8;
}