<div class="project">
    <div *ngFor="let project of projects" (click)="navigateToProject(project?.id)">
        <div class="line">
            <div class="text">
                <span class="project-name">{{project.name}}</span>
                <span class="project-description">{{project.description}}</span>
            </div>
            <div class="progress">
                <span>{{project.progress}}%</span>
                <div class="progress-bar">
                    <div class="progress-fill" [style.width.%]="project.progress"></div>
                </div>
            </div>
        </div>
    </div>
</div>