.project {}

.line {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: solid 3px var(--frame-color);
    border-radius: 15px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    .progress {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 3rem;

        .progress-bar {
            width: 3rem;
            height: 0.5rem;
            background-color: var(--unfilled-progress-color);
            border-radius: 4px;
            overflow: hidden;
        }

        .progress-fill {
            height: 100%;
            background-color: var(--frame-color);
            transition: width 0.3s ease;
        }
    }
}

.text {
    display: flex;
    flex-direction: column;

    .project-name {
        font-weight: bold;
        font-size: var(--font-size-md);
    }

    .project-description {
        font-size: var(--font-size-sm);
    }
}