<div class="projects-container">
    <div class="projects-list">
        <div class="tab" [class.active]="activeTab === 1" (click)="activeTab = 1">פרויקטים פעילים</div>
        <div class="tab" [class.active]="activeTab === 2" (click)="activeTab = 2">
            משימות היום
        </div>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="activeTab === 1">
        <div class="project-drag" *ngFor="let project of projects()" cdkDrag>
            <div class="project" (click)="selectProject(project)">
                <img class="priority" (click)="togglePriority($event, project)"
                    [src]="`assets/icons/${project.isPriority?'star_full' :'star_empty'}.svg`" />
                <div class="project-description">
                    <span class="project-name">
                        {{project.name}}
                    </span>
                </div>
                <div class="current-step">
                    <span class="disabled-text">
                        שלב נוכחי
                    </span>
                    <span class="small-text">
                        {{getCurrentStep(project)?.name}}
                    </span>
                </div>
                <div class="payment">
                    <span class="disabled-text">
                        נשאר לתשלום
                    </span>
                    <span class="small-text">
                        {{getPaidMoney(project)}} מתוך {{getBasePrice(project)}} ₪
                    </span>
                </div>
                <div class="small-text">
                    <div class="progress-bar">
                        <div class="progress-fill" [style.width.%]="getProjectProgress(project)"></div>
                    </div>
                    <span style="margin-top: 1rem;">{{getProjectProgress(project) | number:'1.0-0'}}%</span>
                </div>
                <div class="menu" (click)="$event.stopPropagation()">
                    <img class="menu icon-kabab-menu" [matMenuTriggerFor]="menu" />
                    <mat-menu #menu="matMenu" class="pointer">
                        <button mat-menu-item class="menu-item"
                            (click)="changeProjectStatus(project, projectStatusEnum.frozen)">הקפאה</button>
                        <button mat-menu-item class="menu-item"
                            (click)="changeProjectStatus(project, projectStatusEnum.finished)">סיום</button>
                        <button mat-menu-item class="menu-item" (click)="deleteProject(project)">מחיקה</button>
                        <button mat-menu-item class="menu-item" (click)="cloneProject(project)">שכפול</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="line" *ngIf="activeTab === 1">
        <div class="add-project" (click)="openProjectModal()">
            + פרויקט חדש
        </div>
    </div>
    <div class="today-tasks" *ngIf="activeTab === 2">
        <app-today-tasks (selectProjectEmitter)="selectProject($event)" (stepsUpdatedEmitter)="stepsUpdated($event)"></app-today-tasks>
    </div>
</div>