<div class="main" cdkDrag [cdkDragData]="stepItem" [cdkDragDisabled]="isEditing || isStepComplete()"
    (cdkDragStarted)="isDragging.dragging = true" (cdkDragEnded)="isDragging.dragging= false"
    (mousedown)="mouseDownInside = true" (mouseenter)="isHovering = true" (mouseleave)="isHovering = false"
    #weeklyDayTaskDiv>
    <div *ngIf="!isEditing && !isStepComplete()" class="task">
        <div class="task-header new-small">
            <img src="assets/icons/star_full.svg" *ngIf="stepItem.project?.isPriority" />
            <span>{{stepItem.project?.name}}</span>
        </div>
        <span class="new-small">{{getTextForStep(stepItem)}}</span>
        <div class="buttons" [@expandCollapse]="(isHovering && !isDragging.dragging) ? 'expanded' : 'collapsed'">
            <div class="right-buttons">
                <img class="icon-expand" style="width: 16px;" (click)="openProject.emit(stepItem.project)"
                    *ngIf="stepItem.project?.id !== noProject().id" />
                <img class="icon-pencil" style="width: 16px;" (click)="isEditing = true" />
            </div>
            <img class="icon-confirm-circle" style="width: 24px;" (click)="changeTaskStatus(true)" />
        </div>
    </div>
    <div *ngIf="isEditing">
        <app-new-task (createNewStep)="updateStep($event)" [stepInput]="stepItem.step"></app-new-task>
    </div>
    <div class="completed-task" *ngIf="isStepComplete()" (click)="changeTaskStatus(false)"
        [ngClass]="{'pointer': !isDateBeforeToday()}">
        <div class="new-small">{{stepItem.project?.name}}</div>
        <div class="new-small">{{getTextForStep(stepItem)}}</div>
    </div>
</div>