.main {
    .task {
        box-shadow: var(--common-shadow);
        padding: 10px 15px;
        margin: 10px 0;
        background-color: var(--default-white);
        border-radius: var(--common-radius);
        cursor: default;

        .task-header {
            display: flex;
            align-items: center;
            color: var(--default-gray);

            img {
                height: 12px;
                width: 12px;
                margin-left: 5px;
            }
        }

        .buttons {
            overflow: hidden;
            display: flex;
            justify-content: space-between;

            img {
                height: fit-content;
                cursor: pointer;
            }
        }
    }

    .completed-task {
        text-decoration: line-through;
        padding: 10px 0;
        color: var(--default-gray);
    }
}

.cdk-drag-preview {
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    width: var(--task-width);

    .task {
        width: var(--task-width);
    }

    .buttons {
        height: 0;
        display: none;
    }
}

.cdk-drag-placeholder {
    opacity: 0 !important;
}

.pointer {
    cursor: pointer;
}