@mixin regular-border {
  border: solid 1.5px var(--border-color);
  border-radius: 18px;
}

@mixin step {
  width: 15.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 28px;
  border-radius: 15px;

  &.step.not-finished, &.not-finished {
    @include regular-border;
    padding: 20px 28px 24px;
  }

  &.active-step {
    width: 20rem;
    font-size: var(--font-size-3) !important;
    background-color: var(--default-white);
    border: none !important;
    box-shadow: var(--common-shadow);
    padding: 28px 36px 36px !important;
  }

  .step-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
      height: 24px;
    }
  }

  .extra {
    font-family: 'regular';
    font-size: var(--font-size-1);
    display: flex;
    flex-direction: column;
  }

  .extra-not-finished {
    font-family: 'regular';
    font-size: var(--font-size-2);
    display: flex;
    flex-direction: column;

    .step-icons {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .edit-delete {
        img {
          height: 20px;
          width: 20px;
        }
      }

      img {
        cursor: pointer;
      }

      .edit-delete {
        img {
          margin-left: 1rem;
        }
      }
    }
  }

  .edit {
    display: flex;
    justify-content: center;
  }
}

@mixin big-popup {
  height: var(--big-window-height);
  width: var(--big-window-width);
}

@mixin confirm-button {
  border: none;
  border-radius: 26px;
  padding: 0.5rem 1rem 0.6rem;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'bold';
  font-size: var(--font-size-2);
  color: var(--default-white);
  background-color: var(--main-color-not-active);

  img {
    margin-left: 0.5rem;
    align-self: center;
  }

  &:hover,
  &:focus {
    background-color: var(--main-color);
  }
}

@mixin step-option-button {
  display: flex;
  align-items: center;
  border: none;
  transition: all 0.1s;
  width: fit-content;
  padding: 0.3rem 1rem;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: var(--common-radius);
  font-size: var(--font-size-1);
  font-family: 'regular';
  cursor: pointer;
  background-color: var(--hover-color);
}