@font-face {
    font-family: 'black';
    src: url('assets/fonts/SimonaPro-Black.woff2') format('woff2')
}

@font-face {
    font-family: 'medium';
    src: url('assets/fonts/SimonaPro-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'regular';
    src: url('assets/fonts/SimonaPro-Regular.woff2') format('woff2')
}

:root {
    --font-size-1: 16px;
    --font-size-2: 20px;
    --font-size-3: 24px;
    --font-size-4: 29px;
    --font-size-5: 35px;

    --home-color: #F3F3F5;
    --frame-color: #667AFF;
    --main-color: #667AFF;
    --main-color-not-active: #A2ACEF;
    --frame-color-disable: #a1acf3d4;
    --input-color: #667AFF2B;
    --disabled-text: rgba(0, 0, 0, 0.4);
    --unfilled-progress-color: rgba(102, 122, 255, 0.3);

    .common-border {
        border: solid 3px var(--frame-color);
        border-radius: 15px;
        padding: 1rem;
    }

    .mat-content {
        flex: none;

        .mat-expansion-panel-header {
            padding: 0;
        }

        .mat-expansion-panel-body {
            padding: 0;
        }
    }

    .mat-mdc-menu-content {
        padding: 0;
        border-radius: 20px;
    }

    .mat-mdc-menu-panel {
        background: aliceblue;
        border-radius: 15px;

        .mat-mdc-menu-item {
            background-color: white;
        }
    }

    .mat-mdc-dialog-surface {
        border-radius: 15px;
    }

    .custom-tooltip {
        background-color: #070533;
        color: white;
        font-size: var(--font-size-1);
        border-radius: 8px;
        padding: 12px;
        max-width: 300px;
        font-family: 'regular';
      }
}