// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

:root {
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 1rem;
    --font-size-lg: 20px;
    --font-size-xl: 1.5rem;
    --font-size-huge: 3rem;

    --home-color: #F3F3F5;
    --frame-color: #667AFF;
    --frame-color-disable: #a1acf3d4;
    --input-color: #667AFF2B;
    --disabled-text: rgba(0, 0, 0, 0.4);
    --unfilled-progress-color: rgba(102, 122, 255, 0.3);

    .common-border {
        border: solid 3px var(--frame-color);
        border-radius: 15px;
        padding: 1rem;
    }

    .mat-content {
        flex: none;

        .mat-expansion-panel-header {
            padding: 0;
        }

        .mat-expansion-panel-body {
            padding: 0;
        }
    }

    .mat-mdc-menu-content {
        padding: 0;
        border-radius: 20px;
    }

    .mat-mdc-menu-panel {
        background: aliceblue;
        border-radius: 15px;

        .mat-mdc-menu-item  {
            background-color: white;
        }
    }

    .mat-mdc-dialog-surface {
        border-radius: 15px;
    }
}