@use './mixins.scss' as mixins;

@font-face {
    font-family: 'black';
    src: url('assets/fonts/SimonaPro-Black.woff2') format('woff2')
}

@font-face {
    font-family: 'medium';
    src: url('assets/fonts/SimonaPro-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'regular';
    src: url('assets/fonts/SimonaPro-Regular.woff2') format('woff2')
}

:root {
    --font-size-1: 1rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.813rem;
    --font-size-5: 2.188rem;

    --common-radius: 16px;
    // --big-window-height: 52.5rem;
    --big-window-height: 84vh;
    // --big-window-width: 55rem;
    --big-window-width: 45vw;

    --default-black: #070533;
    --default-white: #FBFBFB;
    --home-color: #F3F3F5;
    --main-color: #667AFF;
    --main-color-not-active: #A2ACEF;
    --frame-color-disable: #a1acf3d4;
    --disabled-text: #0705334D;
    --input-color: #667AFF2B;
    --border-color: #C3C8EB;
    --hover-color: #DEE0ED;
    --select-color: #C3C8EB;
    --blur: #FBFBFBE5;
    --disabled-text: rgba(0, 0, 0, 0.4);
    --unfilled-progress-color: rgba(102, 122, 255, 0.3);
    --common-shadow: 6px 6px 28px 0 rgba(7, 5, 51, 0.1);

    .mat-content {
        flex: none;

        .mat-expansion-panel-header {
            padding: 0;
        }

        .mat-expansion-panel-body {
            padding: 0;
        }
    }

    .NgxEditor {
        border-radius: var(--common-radius);
        border: none;
        height: 100%;
        background-color: var(--default-white);
        color: var(--default-black);
    }

    .mat-mdc-menu-content {
        padding: 0;
        border-radius: 20px;

        .menu-item {
            font-family: 'medium' !important;
            font-size: var(--font-size-1) !important;
            text-align: center;
        }
    }

    .cdk-overlay-dark-backdrop {
        background-color: var(--blur);
    }

    .mat-mdc-menu-panel {
        border-radius: 15px;

        .mat-mdc-menu-item {
            background-color: var(--default-white);

            &:hover {
                background-color: var(--hover-color);
            }
        }
    }

    .mat-mdc-dialog-surface {
        border-radius: var(--common-radius);
    }

    .cdk-overlay-pane.mat-mdc-dialog-panel {
        max-width: none;
        box-shadow: var(--common-shadow);
    }

    .custom-tooltip {
        background-color: #070533;
        color: var(--default-white);
        font-size: var(--font-size-1);
        border-radius: 8px;
        padding: 12px;
        max-width: 320px;
        font-family: 'regular';
    }

    input,
    textarea {
        outline: none;
        padding: 0.5rem 1rem;
        background-color: transparent;
        @include mixins.regular-border;
    }

}

::-webkit-scrollbar {
    background: transparent; 
    border-radius: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--select-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toggle-switch {
    width: 28px;
    height: 16px;
    background-color: var(--default-white);
    border: solid 4px var(--main-color-not-active);
    border-radius: 14px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-thumb {
    width: 10px;
    height: 10px;
    background-color: var(--main-color-not-active);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: left 0.3s;
}

.toggle-switch.on {
    width: 38px;
    height: 24px;
    background-color: var(--main-color);
    border: none;
}

.toggle-switch.on .switch-thumb {
    background-color: var(--default-white);
    top: 7px;
    left: 22px;
}

.progress-bar {
    height: 0.5rem;
    background-color: var(--unfilled-progress-color);
    border-radius: 4px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: var(--main-color);
    transition: width 0.5s ease;
}

.progress-bar-vertical {
    height: 100%;
    background-color: var(--unfilled-progress-color);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.progress-fill-vertical {
    background-color: var(--main-color);
    transition: height 0.5s ease;
}

.error-container {
    position: relative;
}

.error {
    position: absolute;
    font-family: 'regular';
    font-size: var(--font-size-1);
    color: red;
}

//icons
.icon-garbage-can {
    content: url('/assets/icons/garbage_can_not.svg');

    &:hover {
        content: url('/assets/icons/garbage_can_yes.svg');
    }
}

.icon-pencil {
    content: url('/assets/icons/pencil_not.svg');

    &:hover {
        content: url('/assets/icons/pencil_yes.svg');
    }
}

.icon-confirm-circle {
    content: url('/assets/icons/confirm_circle_not.svg');

    &:hover, &:focus {
        content: url('/assets/icons/confirm_circle_yes.svg');
    }
}

.icon-confirm {
    content: url('/assets/icons/confirm_yes.svg');

    &:hover {
        content: url('/assets/icons/confirm_not.svg');
    }
}

.icon-plus {
    content: url('/assets/icons/plus_not.svg');

    &:hover, &:focus {
        content: url('/assets/icons/plus_yes.svg');
    }
}

.icon-info {
    content: url('/assets/icons/info_not.svg');

    &:hover {
        content: url('/assets/icons/info_yes.svg');
    }
}

.icon-expand {
    content: url('/assets/icons/expand_not.svg');

    &:hover {
        content: url('/assets/icons/expand_yes.svg');
    }
}

.icon-kabab-menu {
    content: url('/assets/icons/kabab_menu_not.svg');

    &:hover {
        content: url('/assets/icons/kabab_menu_yes.svg');
    }
}

.icon-link {
    content: url('/assets/icons/link_not.svg');

    &:hover {
        content: url('/assets/icons/link_yes.svg');
    }
}

.icon-h1 {
    content: url('/assets/icons/h1_not.svg');

    &:hover {
        content: url('/assets/icons/h1_yes.svg');
    }
}

.icon-h2 {
    content: url('/assets/icons/h2_not.svg');

    &:hover {
        content: url('/assets/icons/h2_yes.svg');
    }
}

.icon-h3 {
    content: url('/assets/icons/h3_not.svg');

    &:hover {
        content: url('/assets/icons/h3_yes.svg');
    }
}

.icon-bold {
    content: url('/assets/icons/bold_not.svg');

    &:hover {
        content: url('/assets/icons/bold_yes.svg');
    }
}

.icon-ordered-list {
    content: url('/assets/icons/ordered_list_not.svg');

    &:hover {
        content: url('/assets/icons/ordered_list_yes.svg');
    }
}

.icon-bullet-list {
    content: url('/assets/icons/bullet_list_not.svg');

    &:hover {
        content: url('/assets/icons/bullet_list_yes.svg');
    }
}

.icon-history {
    content: url('/assets/icons/history_not.svg');

    &:hover {
        content: url('/assets/icons/history_yes.svg');
    }
}