.main-window {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 1;
}

.tabs-container {
    background-color: #e9eaf6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    height: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.tab-list {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    padding: 10px 20px 0 20px;
    margin-top: 0.5rem;
    height: 2rem;
}

.tab {
    color: #9ca3af;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    padding: 0 8px 18px;
    font-family: 'medium';
    font-size: var(--font-size-1);
}

.tab:hover {
    color: #4b5563;
}

.tab-icon {
    font-size: 14px;
    margin-left: 4px;
}

.tab.active {
    background-color: var(--home-color);
    border-top-left-radius: var(--common-radius);
    border-top-right-radius: var(--common-radius);
    padding: 0 8px 8px;
    margin-top: -10px;
    color: #000;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05);
}

.home-container {
    height: 100%;
    border-radius: var(--common-radius);
    margin-top: -6px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    z-index: 1;

    .home {
        height: 100%;
        background-color: var(--home-color);
        padding: 2rem;
        display: flex;
        flex-direction: row;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        .summary,
        .updates {
            width: 360px;
            margin: 0 3rem;
        }

        .projects-list {
            flex: 1;
            margin: 0 3rem;
        }
    }
}

.home-container.show-before::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blur);
    z-index: 1;
    pointer-events: none;
}

.project-container {
    height: 100vh;
    border-radius: var(--common-radius);
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    .project-page {
        height: 100%;
        width: 100%;
    }
}