<div class="main-window">
  <div class="tabs-container">
    <div class="tab-list">
      <div *ngFor="let tab of tabs" [class.active]="tab.id === activeTab.id" class="tab" (click)="setActive(tab)">
        <span>{{ tab.label }}</span>
        <img [src]="tab.icon" />
      </div>
    </div>
    <img class="logo" src="assets/ariel_logo.svg" />
  </div>

  <div class="home-container">
    <div class="home" *ngIf="activeTab.id === tabs[0].id">
      <div class="summary">
        <app-summary [projects]="userProjects.activeProjects"></app-summary>
      </div>
      <div class="projects-list">
        <app-projects-list [projects]="userProjects" (selectProjectEmitter)="selectProject($event)"></app-projects-list>
      </div>
      <div class="updates">
        <app-updates></app-updates>
      </div>
    </div>
  </div>

  <div class="project" *ngIf="activeTab.id !== tabs[0].id">
    <app-project-page [projectInput]="selectedProject"></app-project-page>
  </div>
</div>