<div>
    <div class="body">
      <div class="right common-border"></div>
      <div class="projects">
        <span class="active-projects"></span>
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>פרויקטים פעילים</mat-panel-title>
            </mat-expansion-panel-header>
            <div><app-projects-list [projects]="userProjects?.activeProjects"></app-projects-list></div>
          </mat-expansion-panel>
        
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>פרויקטים בהקפאה</mat-panel-title>
            </mat-expansion-panel-header>
            <div><app-projects-list [projects]="userProjects?.frozenProjects"></app-projects-list></div>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>פרויקטים שהסתיימו</mat-panel-title>
            </mat-expansion-panel-header>
            <div><app-projects-list [projects]="userProjects?.finishedProjects"></app-projects-list></div>
          </mat-expansion-panel>
        </mat-accordion>    
      </div>
      <div class="tips common-border">
        <span class="tips-title">טיפ שבועי</span>
        <div class="tips-text">טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ טקסט רץ </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>