<div class="main-window">
  <div class="tabs-container">
    <div class="tab-list">
      <div *ngFor="let tab of tabs" [class.active]="tab.id === activeTab" class="tab" (click)="setActive(tab.id)">
        <span>{{ tab.label }}</span>
        <img [src]="tab.icon"/>
      </div>
    </div>
    <img class="logo" src="assets/ariel_logo.svg" />
  </div>

  <div class="home-container">
    <div class="home" *ngIf="activeTab === tabs[0].id">
      <div class="summary">
        <app-summary></app-summary>
      </div>
      <div class="projects-list">
        <app-projects-list [projects]="userProjects"></app-projects-list>
      </div>
      <div class="insight">תובנה</div>
    </div>
  </div>

  <div class="project" *ngIf="activeTab !== tabs[0].id">
    פרטים על הפרויקט
  </div>
</div>