<div class="main">
    <div class="choose-type" *ngIf="selectedType === undefined">
        <span class="header">שלב חדש</span>
        <span class="text">מהו סוג השלב?</span>
        <div class="steps">
            <div class="step-type" *ngFor="let stepType of stepTypes" (click)="selectType(stepType)">
                <img [src]="`assets/icons/${stepType.icon}.svg`" />
                <div class="details">
                    <span class="header">{{stepTypeLabels[stepType.type]}}</span>
                    <span class="text">{{stepType.text}}</span>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="form" class="form" *ngIf="selectedType !== undefined">
        <div class="title">
            <span class="header">שלב {{stepTypeLabels[selectedType.type]}} חדש</span>
            <img [src]="`assets/icons/${selectedType.icon}.svg`" />
        </div>
        <div class="text-and-input">
            <span class="text">שם השלב</span>
            <input class="text" type="text" formControlName="name">
            <span *ngIf="submitted && form.get('name')?.errors" class="error">אנא הזינו שם</span>
        </div>
        <div class="text-and-input" *ngIf="selectedType.type !== stepTypeEnum.payment">
            <span class="text">פירוט (לא חובה)</span>
            <textarea class="text" formControlName="description"></textarea>
        </div>
        <div class="text-and-input" *ngIf="selectedType.type === stepTypeEnum.payment">
            <span class="text">סכום (לא כולל מע"ם)</span>
            <input class="text" type="number" formControlName="price"/>
            <span *ngIf="submitted && form.get('price')?.errors" class="error">אנא הזינו סכום תקין</span>
        </div>
        <div class="text-and-input">
            <span class="text">תאריך סיום מתוכנן</span>
            <input class="text date" type="text" mask="00/00/00" placeholder="_ _/_ _/_ _" formControlName="dateDue" [dropSpecialCharacters]="false"/>
            <span *ngIf="submitted && form.get('dateDue')?.errors" class="error">אנא הזינו תאריך תקין</span>
        </div>
        <div class="create-step">
            <img class="icon-confirm-circle" (click)="createStep()" />
        </div>
    </form >
</div>