@use '../../mixins.scss' as mixins;

.main {
    @include mixins.regular-border;
    width: 100%;

    .choose-type {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        .steps {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;

            .step-type {
                cursor: pointer;
                @include mixins.regular-border;
                padding: 0.5rem 1rem;
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: var(--hover-color);
                }

                img {
                    margin-left: 1rem;
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }

    .details {
        padding: 1rem 2rem;

        .title {
            display: flex;
            justify-content: space-between;

            img {
                height: 24px;
                width: 24px;
            }
        }

        .types {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;

            .edit-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: 'black';
                font-size: var(--font-size-1);
                width: 92px;
                height: 71px;
                cursor: pointer;
                @include mixins.regular-border;

                &:hover {
                    background-color: var(--hover-color);
                }

                &.selected {
                    background-color: var(--select-color);
                }
            }
        }

        .text-and-input {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            input,
            textarea {
                background-color: transparent;
                @include mixins.regular-border;
            }

            textarea {
                height: 120px;
            }
        }

        .date {
            .date {
                @include mixins.regular-border;
            }
        }

        .create-step {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 1rem;

            img {
                cursor: pointer;
            }
        }
    }
}

.header {
    font-family: 'black';
    font-size: var(--font-size-3);
}

.text {
    font-family: 'regular';
    font-size: var(--font-size-1);
}