.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--home-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .signIn {
        transform-origin: center;
    }

    @media (max-width: 1000px) {
        .signIn {
            scale: 2;
        }
    }
}