<div class="main">
    <span tabindex="0"></span>
    <img src="assets/icons/confetti.svg"/>
    <div class="new-h1 header">שמחים לראות אותך איתנו!</div>
    <span class="new-text">לדעתנו עשית בחירה מצוינת, וכדי לעמוד מאחורי זה - הרגע שידרגנו אותך לתוכנית <span class="subscription-name">פוקוס על מלא</span> ל-14 ימי התאקלמות. עלינו.</span>
    <span class="new-text">לאחר 14 יום, נחזיר אותך אוטומטית לתוכנית החינמית <span class="subscription-name">פוקוס בקטנה</span> (אל דאגה, שום דבר לא יימחק). </span>
    <span class="new-text">את פרטי התוכנית שלך שלך אפשר לראות ולשנות במסך הפרופיל האישי, בלחיצה על האייקון משמאל למעלה.</span>
    <div class="subscribe" (click)="close()" (keydown.enter)="close()" tabindex="0">
        <div>הבנתי</div>
    </div>
</div>