<div class="main" #conversationContainer>
    <div class="chat" *ngIf="isConsentForAi">
        <div class="conversation">
            <div class="message new-small" *ngFor="let message of conversation.messages">
                <span
                    [ngClass]="{'user-message': message.role === 'user', 'ai-message': message.role !== 'user'}">{{message.content}}</span>
            </div>
        </div>
        <div class="input">
            <ng-lottie [options]="loadingOptions" class="loading-animation" *ngIf="isWaitingForChat" />
            <ng-container *ngIf="!isWaitingForChat">
                <input class="new-small" [(ngModel)]="userMessageText" (keydown.enter)="sendMessage()"
                    placeholder="אפשר לשאול אותי הכל" #input>
                <img class="icon-send" (click)="sendMessage()" />
            </ng-container>
        </div>

        <span *ngIf="isExpand" class="reset-chat-note">
            תזכורת: 
            <br>
            השיחה עם ׳מאסטר פוקוס׳ מתאפסת לאחר 8 שעות ללא פעילות
        </span>
    </div>
    <div class="consent" *ngIf="!isConsentForAi">
        <span class="new-small">
            ׳פוקוס מאסטר׳ הוא מנטור AI מבוסס Gemini שמאומן במיוחד כדי לעזור לפרילנסרים. הוא קורא את הנתונים שנמצאים על
            המסך שלך ויכול לעזור לך יד ביד לאורך הפרויקט.
            <br>
            השיחה עם ׳פוקוס מאסטר׳ היא זמנית, וכל ההודעות נמחקות לאחר 8 שעות ללא פעילות. לכן, מידע חשוב שברצונך לשמור -
            כדאי להעתיק ל׳רשימות׳.
            <br>
            בלחיצה על הכפתור למטה את/ה מאשר/ת שברצונך לחלוק עם ׳פוקוס מאסטר׳ ו-Gemini את המידע שלך בפרויקט {{project().name}}
        </span>
        <div class="new-small confirm">
            <span (click)="consent()">
                אני מאשר/ת, בוא נתחיל
            </span>
        </div>
    </div>
</div>