.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .conversation {
        overflow: auto;

        .message {
            margin-bottom: 25px;
            white-space: pre-wrap;
            word-break: break-word;

            span {
                padding: 0 10px 5px;
                border-radius: 20px;
                display: inline-block;
            }

            .user-message {
                background-color: var(--hover-color);
            }

            .ai-message {
                //background-color: beige;
            }
        }
    }

    .input {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 12px;
        box-sizing: border-box;

        input {
            height: 30px;
            border: none;
            width: 90%;
            background-color: var(--default-white);
            box-shadow: var(--common-shadow);
        }

        img {
            cursor: pointer;
            position: absolute;
            left: 30px;
        }
    }

    .consent {
        .confirm {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;

            span {
                cursor: pointer;
                padding: 4px 12px 6px;
                background-color: var(--hover-color);
                border-radius: var(--common-radius);
                color: var(--default-black);
                transition: 0.3s;

                &:hover {
                    color: var(--default-white);
                    background-color: var(--main-color);
                }
            }
        }
    }
}